[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Muon/Backend
X-KDE-Derived=KPluginInfo
Name=Muon Backend
Name[bs]=Muon pozadina
Name[ca]=Dorsal del Muon
Name[cs]=Podpůrná vrstva Muon
Name[da]=Muon-motor
Name[de]=Muon-Backend
Name[es]=Motor de Muon
Name[fi]=Muon-taustaosa
Name[fr]=Moteur de Muon
Name[it]=Motore di Muon
Name[kk]=Muon тетігі
Name[mr]=म्युओन बॅकएन्ड
Name[nb]=Bakgrunnsmotor for Muon
Name[nl]=Backend van Muon
Name[pl]=Silnik Muon
Name[pt]=Infra-Estrutura do Muon
Name[pt_BR]=Infraestrutura do Muon
Name[ru]=Модуль Muon
Name[sk]=Muon Backend
Name[sl]=Zaledje za Muon
Name[sr]=Позадина Муона
Name[sr@ijekavian]=Позадина Муона
Name[sr@ijekavianlatin]=Pozadina Muona
Name[sr@latin]=Pozadina Muona
Name[sv]=Muon-gränssnitt
Name[tr]=Muon Arkaucu
Name[uk]=Модуль Muon
Name[x-test]=xxMuon Backendxx
Name[zh_TW]=Muon 後端介面

[PropertyDef::X-Muon-Arguments]
Type=QStringList
