[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Muon/Backend
X-KDE-Derived=KPluginInfo
Name=Muon Backend
Name[cs]=Podpůrná vrstva Muon
Name[da]=Muon-motor
Name[et]=Muoni taustaprogramm
Name[ga]=Inneall Muon
Name[hu]=Muon modul
Name[nl]=Backend van Muon
Name[pt]=Infra-Estrutura do Muon
Name[pt_BR]=Infraestrutura do Muon
Name[sk]=Muon Backend
Name[sl]=Zaledje za Muon
Name[sr]=Позадина Муона
Name[sr@ijekavian]=Позадина Муона
Name[sr@ijekavianlatin]=Pozadina Muona
Name[sr@latin]=Pozadina Muona
Name[uk]=Модуль Muon
Name[x-test]=xxMuon Backendxx

[PropertyDef::X-Muon-Arguments]
Type=QStringList
