[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Muon/Backend
X-KDE-Derived=KPluginInfo
Name=Muon Backend
Name[tr]=Muon Arkaucu

[PropertyDef::X-Muon-Arguments]
Type=QStringList
