[Desktop Entry]
Type=Service
Exec=blubb
Icon=plasma
Name=Correct
Name[ca]=Correcte
Name[ca@valencia]=Correcte
Name[da]=Korrekt
Name[el]=Σωστό
Name[en_GB]=Correct
Name[es]=Correcto
Name[fi]=Oikea
Name[fr]=Correct
Name[gl]=Correcto
Name[it]=Corretto
Name[ko]=올바름
Name[nb]=Riktig
Name[nl]=Juist
Name[nn]=Rett
Name[pl]=Poprawny
Name[pt]=Certo
Name[pt_BR]=Certo
Name[sk]=Správne
Name[sl]=Popravi
Name[sr]=Тачно
Name[sr@ijekavian]=Тачно
Name[sr@ijekavianlatin]=Tačno
Name[sr@latin]=Tačno
Name[sv]=Riktig
Name[uk]=Правильно
Name[x-test]=xxCorrectxx
Name[zh_CN]=改正

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscorrect-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=testplasmoids.knsrc
