[Desktop Entry]
Type=Service
Exec=blubb
Icon=plasma
Name=Correct
Name[ca]=Correcte
Name[ca@valencia]=Correcte
Name[da]=Korrekt
Name[de]=Richtig
Name[el]=Σωστό
Name[en_GB]=Correct
Name[es]=Correcto
Name[et]=Õige
Name[fr]=Correct
Name[gl]=Correcto
Name[it]=Corretto
Name[ko]=올바름
Name[nl]=Juist
Name[pl]=Poprawny
Name[pt]=Certo
Name[pt_BR]=Certo
Name[ru]=Верно
Name[sk]=Správne
Name[sl]=Popravi
Name[sv]=Riktig
Name[uk]=Правильно
Name[x-test]=xxCorrectxx
Name[zh_CN]=改正

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscorrect-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=testplasmoids.knsrc
