[Desktop Entry]
Type=Service
Exec=blubb
Icon=plasma
Name=Wrong
Name[ca]=Erroni
Name[ca@valencia]=Erroni
Name[da]=Forkert
Name[de]=Falsch
Name[el]=Λάθος
Name[en_GB]=Wrong
Name[es]=Erróneo
Name[et]=Vale
Name[fi]=Väärä
Name[fr]=Incorrect
Name[gl]=Incorrecto
Name[it]=Errato
Name[ko]=잘못됨
Name[nl]=Verkeerd
Name[pl]=Niepoprawny
Name[pt]=Errado
Name[pt_BR]=Errado
Name[sk]=Zlé
Name[sl]=Wrong
Name[sv]=Felaktig
Name[uk]=Неправильно
Name[zh_CN]=错误

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knswrong-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=wrong.knsrc
