[Desktop Entry]
Type=Service
Exec=blubb
Icon=plasma
Name=Wrong
Name[ca]=Erroni
Name[en_GB]=Wrong
Name[fi]=Väärä
Name[fr]=Incorrect
Name[ko]=잘못됨
Name[nl]=Verkeerd
Name[pt]=Errado
Name[pt_BR]=Errado
Name[sk]=Zlé
Name[sv]=Felaktig
Name[uk]=Неправильно
Name[x-test]=xxWrongxx

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knswrong-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=wrong.knsrc
