[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=kalarm
Name=Dummy
Name[cs]=Falešný
Name[es]=Vacío
Name[nl]=Dummy
Name[pt]=Testes
Name[pt_BR]=Teste
Name[sv]=Test
Name[uk]=Тест
Name[x-test]=xxDummyxx
GenericName=Dummy
GenericName[cs]=Falešný
GenericName[es]=Vacío
GenericName[nl]=Dummy
GenericName[pt]=Testes
GenericName[pt_BR]=Teste
GenericName[sv]=Test
GenericName[uk]=Тест
GenericName[x-test]=xxDummyxx
Comment=It's some dummy backend for testing purposes
Comment[cs]=Falešná podpůrná vrstva pro testovací účely
Comment[es]=Se trata de un motor vacío pensado para hacer pruebas
Comment[nl]=Het is zo'n dummy backend voor testdoeleinden
Comment[pt]=É uma infra-estrutura de exemplo para testes
Comment[pt_BR]=Exemplo de infraestrutura para testes
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte
Comment[uk]=Тестовий модуль
Comment[x-test]=xxIt's some dummy backend for testing purposesxx
X-KDE-Library=muon-dummybackend
X-KDE-PluginInfo-Name=muon-dummy-backend
X-KDE-PluginInfo-License=GPL
