[Desktop Entry]
Name=Muon Dummy Notifier
Name[bs]=Prazni Muon obavještavač
Name[ca]=Notificador fals del Muon
Name[ca@valencia]=Notificador fals del Muon
Name[da]=Bekendtgørelser fra Muon-attrap
Name[de]=Muon-Benachrichtigung-Attrappe
Name[el]=Πλασματικό πρόγραμμα ειδοποιήσεων Muon
Name[es]=Notificador vacío de Muon
Name[fi]=Muonin testi-ilmoitukset
Name[fr]=Notifieur factice de Muon
Name[gl]=Notificador de probas de Muon
Name[hu]=Muon üres értesítő
Name[it]=Notifiche fittizie di Muon
Name[ko]=Muon 더미 알림이
Name[nb]=Muon varsler-attrapp
Name[nds]=Muon-Platzholl-Bescheden
Name[nl]=Muon dummy-melder
Name[pl]=Fikcyjne powiadamianie Muon
Name[pt]=Notificação de Testes do Muon
Name[pt_BR]=Notificador de Testes do Muon
Name[ro]=Notificare fictivă Muon
Name[ru]=Тестовое уведомление Muon
Name[sk]=Prázdny oznamovač Muon
Name[sl]=Preizkusni obvestilnik Muon
Name[sr]=Муонов лажни извештавач
Name[sr@ijekavian]=Муонов лажни извјештавач
Name[sr@ijekavianlatin]=Muonov lažni izvještavač
Name[sr@latin]=Muonov lažni izveštavač
Name[sv]=Muon testunderrättelse
Name[tr]=Muon Kullanımsız Bildirici
Name[uk]=Тестовий сповіщувач Muon
Name[x-test]=xxMuon Dummy Notifierxx
Name[zh_TW]=Muon Dummy 通知器
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muondummyotifier
X-KDE-FactoryName=muondummyotifier
X-KDE-DBus-ModuleName=muondummyotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
