[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=kalarm
Name=Dummy
Name[ca]=Prova
Name[fi]=Tyhjä
Name[fr]=Factice
Name[kk]=Қалып
Name[nl]=Dummy
Name[pt]=Testes
Name[sk]=Prázdne
Name[tr]=Dummy
Name[uk]=Тест
Name[x-test]=xxDummyxx
Name[zh_TW]=Dummy
GenericName=Dummy
GenericName[ca]=Prova
GenericName[fi]=Tyhjä
GenericName[fr]=Factice
GenericName[kk]=Қалып
GenericName[nl]=Dummy
GenericName[pt]=Testes
GenericName[sk]=Prázdne
GenericName[tr]=Dummy
GenericName[uk]=Тест
GenericName[x-test]=xxDummyxx
GenericName[zh_TW]=Dummy
Comment=It's some dummy backend for testing purposes
Comment[ca]=Són alguns dorsals falsos amb la finalitat de fer proves
Comment[fi]=Joku tyhjä taustaosa testaustarkoituksiin
Comment[fr]=Il s'agit d'un tableau de bord factice à des fins de tests
Comment[kk]=Сынаққа арналған қалып тетігі
Comment[nl]=Het is een soort dummybackend voor testdoeleinden
Comment[pt]=É uma infra-estrutura de exemplo para testes
Comment[sk]=Je to nejaký prázdny backend na testovacie účely
Comment[tr]=Test amaçları için bazı sahte arkauçları
Comment[uk]=Тестовий модуль
Comment[x-test]=xxIt's some dummy backend for testing purposesxx
Comment[zh_TW]=測試用的 dummy 後端介面
X-KDE-Library=muon-dummybackend
X-KDE-PluginInfo-Name=muon-dummybackend
X-KDE-PluginInfo-License=GPL
