[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=kalarm
Name=Dummy
Name[ca]=Prova
Name[en_GB]=Dummy
Name[nl]=Dummy
Name[pt_BR]=Teste
Name[sv]=Test
Name[x-test]=xxDummyxx
GenericName=Dummy
GenericName[ca]=Prova
GenericName[en_GB]=Dummy
GenericName[nl]=Dummy
GenericName[pt_BR]=Teste
GenericName[sv]=Test
GenericName[x-test]=xxDummyxx
Comment=It's some dummy backend for testing purposes
Comment[ca]=Són alguns dorsals falsos amb la finalitat de fer proves
Comment[en_GB]=It's some dummy backend for testing purposes
Comment[nl]=Het is zo'n dummy backend voor testdoeleinden
Comment[pt_BR]=Exemplo de infraestrutura para testes
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte
Comment[x-test]=xxIt's some dummy backend for testing purposesxx
X-KDE-Library=muon-dummy-backend
X-KDE-PluginInfo-Name=muon-dummy-backend
X-KDE-PluginInfo-License=GPL
