[Desktop Entry]
Name=Muon Dummy Notifier
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muon-dummy-notifier
X-KDE-FactoryName=muon-dummy-notifier
X-KDE-DBus-ModuleName=muon-dummy-notifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
