[Desktop Entry]
Name=Muon
Name[ca]=Muon
Name[cs]=Muon
Name[da]=Muon
Name[de]=Muon
Name[en_GB]=Muon
Name[es]=Muon
Name[et]=Muon
Name[fr]=Muon
Name[hu]=Muon
Name[nds]=Muon
Name[nl]=Muon
Name[pt]=Muon
Name[pt_BR]=Muon
Name[ru]=Muon
Name[sk]=Muon
Name[tr]=Muon
Name[uk]=Muon
Name[x-test]=xxMuonxx
Name[zh_TW]=Muon
Exec=muon %i -caption "%c"
Icon=application-x-deb
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíčků
GenericName[da]=Pakkehåndtering
GenericName[de]=Paketverwaltung
GenericName[en_GB]=Package Manager
GenericName[es]=Gestor de paquetes
GenericName[et]=Tarkvarahaldur
GenericName[fr]=Gestionnaire de paquetages
GenericName[hu]=Csomagkezelő
GenericName[nds]=Paketpleger
GenericName[nl]=Pakketbeheerder
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[ru]=Программа управления пакетами
GenericName[sk]=Správca balíkov
GenericName[tr]=Paket Yöneticisi
GenericName[uk]=Керування пакунками
GenericName[x-test]=xxPackage Managerxx
GenericName[zh_TW]=套件管理器
Categories=Qt;KDE;System;
