[Desktop Entry]
Name=Muon Package Manager
Name[bs]=Muon menadžer paketa
Name[ca]=Gestor de paquets Muon
Name[cs]=Správce balíčků Muon
Name[da]=Muon pakkehåndtering
Name[de]=Muon-Paketverwaltung
Name[en_GB]=Muon Package Manager
Name[es]=Gestor de paquetes de Muon
Name[et]=Tarkvarahaldur Muon
Name[fi]=Muon-paketinhallinta
Name[fr]=Gestionnaire de paquetages Muon
Name[hu]=Muon csomagkezelő
Name[nb]=Muon pakkebehandler
Name[nds]=Paketpleger "Muon"
Name[nl]=Muon pakketbeheerder
Name[pt]=Gestor de Pacotes Muon
Name[pt_BR]=Gerenciador de pacotes Muon
Name[ro]=Administratorul de pachete Muon
Name[ru]=Muon
Name[sr]=Муон
Name[sr@ijekavian]=Муон
Name[sr@ijekavianlatin]=Muon
Name[sr@latin]=Muon
Name[sv]=Muon pakethanterare
Name[uk]=Muon (Керування пакунками)
Name[x-test]=xxMuon Package Managerxx
Name[zh_TW]=Muon 套件管理員
Exec=muon %i -caption "%c"
Icon=muon
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
GenericName[bs]=Menadžer paketa
GenericName[ca]=Gestor de paquets
GenericName[ca@valencia]=Gestor de paquets
GenericName[cs]=Správce balíčků
GenericName[da]=Pakkehåndtering
GenericName[de]=Paketverwaltung
GenericName[en_GB]=Package Manager
GenericName[es]=Gestor de paquetes
GenericName[et]=Tarkvarahaldur
GenericName[fi]=Paketinhallinta
GenericName[fr]=Gestionnaire de paquetages
GenericName[hu]=Csomagkezelő
GenericName[it]=Gestore di pacchetti
GenericName[nb]=Pakkebehandler
GenericName[nds]=Paketpleger
GenericName[nl]=Pakketbeheerder
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[ro]=Administrator de pachete
GenericName[ru]=Программа управления пакетами
GenericName[sk]=Správca balíkov
GenericName[sr]=Менаџер пакета
GenericName[sr@ijekavian]=Менаџер пакета
GenericName[sr@ijekavianlatin]=Menadžer paketa
GenericName[sr@latin]=Menadžer paketa
GenericName[sv]=Pakethanterare
GenericName[tr]=Paket Yöneticisi
GenericName[ug]=بوغچا باشقۇرغۇ
GenericName[uk]=Керування пакунками
GenericName[x-test]=xxPackage Managerxx
GenericName[zh_TW]=套件管理器
Categories=Qt;KDE;System;
