[Desktop Entry]
Name=Muon Package Manager
Name[ca]=Gestor de paquets Muon
Name[cs]=Správce balíčků Muon
Name[es]=Gestor de paquetes de Muon
Name[nl]=Muon pakketbeheerder
Name[pt]=Gestor de Pacotes Muon
Name[pt_BR]=Gerenciador de pacotes Muon
Name[sl]=Upravljalnik paketov Muon
Name[sv]=Muon pakethanterare
Name[uk]=Muon (Керування пакунками)
Name[x-test]=xxMuon Package Managerxx
Exec=muon %i -caption %c
Icon=muon
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíčků
GenericName[es]=Gestor de paquetes
GenericName[nl]=Pakketbeheerder
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[sl]=Upravljalnik paketov
GenericName[sv]=Pakethanterare
GenericName[uk]=Керування пакунками
GenericName[x-test]=xxPackage Managerxx
Categories=Qt;KDE;System;
X-KDE-Keywords=program,software,repository,archive,package,install,remove,update,deb
X-KDE-Keywords[ca]=programa,programari,repositori,arxiu,paquet,instal·la,suprimeix,actualitza,deb
X-KDE-Keywords[cs]=program,software,repozitář,archiv,balíček,instalovat,odstranit,aktualizovat,deb
X-KDE-Keywords[es]=programa,software,repositorio,archivo,paquete,instalar,eliminar,actualizar,deb
X-KDE-Keywords[nl]=programma,software,opslagruimte,archief,pakket,installeren,verwijderen,bijwerken,deb
X-KDE-Keywords[pt]=programa,software,repositório,arquivo,pacote,instalar,remover,actualizar,deb
X-KDE-Keywords[pt_BR]=programa,software,repositório,arquivo,pacote,instalar,remover,atualizar,deb
X-KDE-Keywords[sl]=program,programska oprema,skladišče,arhiv,paketi,namesti,odstrani,posodobi,deb,nadgradi
X-KDE-Keywords[sv]=program,programvara,arkiv,paket,installera,ta bort,uppdatera,deb
X-KDE-Keywords[uk]=program,software,repository,archive,package,install,remove,update,deb,програма,програмне забезпечення,сховище,архів,пакунок,встановити,встановлення,вилучити,вилучення,оновлення,оновити
X-KDE-Keywords[x-test]=xxprogram,software,repository,archive,package,install,remove,update,debxx
