<?xml version="1.0" encoding="UTF-8"?>
<gui name="muon-updater"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
    <MenuBar>
        <Menu name="file" >
            <Separator/>
            <Action name="save_download_list" />
            <Action name="download_from_list" />
            <Action name="load_archives" />
            <Separator/>
            <Action name="file_quit" />
        </Menu>
        <Menu name="edit" >
            <Action name="undo" />
            <Action name="redo" />
            <Separator/>
            <Action name="update" />
            <Separator/>
            <Action name="apply" />
        </Menu>
        <Menu name="view" >
            <Action name="history" />
        </Menu>
        <Menu name="settings">
          <Separator />
          <Action name="software_properties" />
        </Menu>
    </MenuBar>
    <ToolBar name="mainToolBar">
        <Action name="apply" />
        <Action name="file_quit" />
        <Separator/>
        <Action name="update" />
    </ToolBar>
</gui>
