[Desktop Entry]
Name=Update Manager
Name[ca]=Gestor d'actualitzacions
Name[ca@valencia]=Gestor d'actualitzacions
Name[da]=Håndtering af opdateringer
Name[de]=Aktualisierungsverwaltung
Name[en_GB]=Update Manager
Name[es]=Gestor de actualizaciones
Name[et]=Uuenduste haldur
Name[fi]=Päivitystenhallinta
Name[gl]=Xestor de actualizacións
Name[nl]=Beheerder voor bijwerken
Name[nn]=Oppdateringshandsamar
Name[pl]=Zarządzanie uaktualnieniami
Name[pt]=Gestor de Actualizações
Name[pt_BR]=Gerenciador de atualizações
Name[sk]=Správca aktualizácií
Name[sl]=Upravljalnik posodobitev
Name[sr]=Менаџер ажурирања
Name[sr@ijekavian]=Менаџер ажурирања
Name[sr@ijekavianlatin]=Menadžer ažuriranja
Name[sr@latin]=Menadžer ažuriranja
Name[sv]=Uppdateringshanterare
Name[uk]=Керування оновленнями
Name[x-test]=xxUpdate Managerxx
Name[zh_CN]=更新管理器
Name[zh_TW]=更新管理員
Exec=muon-updater
Icon=system-software-update
Type=Application
X-DocPath=muon/index.html
GenericName=Update Manager
GenericName[ca]=Gestor d'actualitzacions
GenericName[ca@valencia]=Gestor d'actualitzacions
GenericName[da]=Håndtering af opdateringer
GenericName[de]=Aktualisierungsverwaltung
GenericName[el]=Διαχειριστής ενημερώσεων
GenericName[en_GB]=Update Manager
GenericName[es]=Gestor de actualizaciones
GenericName[et]=Uuenduste haldur
GenericName[fi]=Päivitystenhallinta
GenericName[fr]=Gestionnaire de mises à jour
GenericName[gl]=Xestor de actualizacións
GenericName[it]=Gestore degli aggiornamenti
GenericName[ko]=업데이트 관리자
GenericName[nb]=Oppdateringsbehandler
GenericName[nl]=Beheerder voor bijwerken
GenericName[nn]=Oppdateringshandsamar
GenericName[pl]=Zarządzanie uaktualnieniami
GenericName[pt]=Gestor de Actualizações
GenericName[pt_BR]=Gerenciador de atualizações
GenericName[sk]=Správca aktualizácií
GenericName[sl]=Upravljalnik posodobitev
GenericName[sr]=Менаџер ажурирања
GenericName[sr@ijekavian]=Менаџер ажурирања
GenericName[sr@ijekavianlatin]=Menadžer ažuriranja
GenericName[sr@latin]=Menadžer ažuriranja
GenericName[sv]=Uppdateringshanterare
GenericName[uk]=Керування оновленнями
GenericName[x-test]=xxUpdate Managerxx
GenericName[zh_CN]=更新管理器
GenericName[zh_TW]=更新管理員
Categories=Qt;KDE;System;
