[Desktop Entry]
Name=Muon Update Manager
Name[ca]=Gestor d'actualitzacions Muon
Name[ca@valencia]=Gestor d'actualitzacions Muon
Name[cs]=Správce aktualizací Muon
Name[da]=Muon håndtering af opdateringer
Name[de]=Muon-Aktualisierungsverwaltung
Name[el]=Διαχειριστής ενημερώσεων Muon
Name[es]=Gestor de actualizaciones de Muon
Name[et]=Muoni uuenduste haldur
Name[hu]=Muon frissítéskezelő
Name[it]=Gestore Aggiornamenti Muon
Name[lt]=Muon atnaujinimų tvarkyklė
Name[nb]=Muon oppdateringsbehandler
Name[nl]=Muon beheerder voor bijwerken
Name[pa]=ਮੂਉਨ ਅੱਪਡੇਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer uaktualnień Muon
Name[pt]=Gestor de Actualizações Muon
Name[pt_BR]=Gerenciador de atualizações do Muon
Name[ru]=Менеджер Muon для обновлений
Name[sk]=Správca aktualizácií Muon
Name[sv]=Muon uppdateringshanterare
Name[ug]=يېڭىلانما باشقۇرغۇ Muon 
Name[uk]=Керування оновленнями
Name[x-test]=xxMuon Update Managerxx
Name[zh_CN]=Muon 更新管理器
Name[zh_TW]=Muon 更新管理員
Exec=muon-updater %i -caption "%c"
Icon=system-software-update
Type=Application
X-DocPath=muon/index.html
GenericName=Update Manager
GenericName[ca]=Gestor d'actualitzacions
GenericName[ca@valencia]=Gestor d'actualitzacions
GenericName[cs]=Správce aktualizací
GenericName[da]=Håndtering af opdateringer
GenericName[de]=Aktualisierungsverwaltung
GenericName[el]=Διαχειριστής ενημερώσεων
GenericName[es]=Gestor de actualizaciones
GenericName[et]=Uuenduste haldur
GenericName[hu]=Frissítéskezelő
GenericName[it]=Gestore degli aggiornamenti
GenericName[lt]=Atnaujinimų tvarkyklė
GenericName[nb]=Oppdateringsbehandler
GenericName[nl]=Beheerder voor bijwerken
GenericName[pa]=ਅੱਪਡੇਟ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer uaktualnień
GenericName[pt]=Gestor de Actualizações
GenericName[pt_BR]=Gerenciador de atualizações
GenericName[ru]=Менеджер обновлений
GenericName[sk]=Správca aktualizácií
GenericName[sv]=Uppdateringshanterare
GenericName[ug]=يېڭىلانما باشقۇرغۇ(Update Manager)
GenericName[uk]=Керування оновленнями
GenericName[x-test]=xxUpdate Managerxx
GenericName[zh_CN]=更新管理器
GenericName[zh_TW]=更新管理員
Categories=Qt;KDE;System;
