[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in PackageKit
Comment[cs]=Instalujte a prohlížejte aplikace v PackageKitu
Comment[da]=Installér og gennemse programmer i PackageKit
Comment[de]=Anwendungen in PackageKit Installieren und durchsuchen
Comment[es]=Instalar y explorar aplicaciones en PackageKit
Comment[fi]=Asenna ja selaa PackageKitin välityksellä tarjolla olevia sovelluksia
Comment[fr]=Installer et parcourir des applications dans PackageKit
Comment[gl]=Instalar e buscar aplicacións en PackageKit
Comment[nl]=Installeer en blader door toepassingen in PackageKit
Comment[pt]=Instalar e navegar pelas aplicações no PackageKit
Comment[pt_BR]=Instala e navega pelos aplicativos no PackageKit
Comment[sk]=Inštalácia a prehliadanie aplikácií v PackageKit
Comment[sl]=Namestite in brskajte po programih v PackageKit
Comment[sr]=Инсталирајте и прегледајте програме из Пакиџ‑кита
Comment[sr@ijekavian]=Инсталирајте и прегледајте програме из Пакиџ‑кита
Comment[sr@ijekavianlatin]=Instalirajte i pregledajte programe iz PackageKita
Comment[sr@latin]=Instalirajte i pregledajte programe iz PackageKita
Comment[sv]=Installera och bläddra bland program med PackageKit
Comment[tr]=Uygulamalara PackageKit içerisinde gözat ve yükle
Comment[uk]=Встановіть і перегляньте встановлені програми у PackageKit
Comment[x-test]=xxInstall and browse applications in PackageKitxx
Name=PackageKit Support
Name[cs]=Podpora PackageKit
Name[da]=PackageKit-understøttelse
Name[de]=Unterstützung für PackageKit
Name[es]=Implementación de PackageKit
Name[fi]=PackageKit-tuki
Name[fr]=Prise en charge de PackageKit
Name[gl]=Compatibilidade con PackageKit
Name[nl]=Ondersteuning van PackageKit
Name[pt]=Suporte para o PackageKit
Name[pt_BR]=Suporte para o PackageKit
Name[sk]=Podpora PackageKit
Name[sl]=Podpora PackageKit
Name[sr]=Подршка за Пакиџ‑кит
Name[sr@ijekavian]=Подршка за Пакиџ‑кит
Name[sr@ijekavianlatin]=Podrška za PackageKit
Name[sr@latin]=Podrška za PackageKit
Name[sv]=Stöd för PackageKit
Name[tr]=PackageKit Desteği
Name[uk]=Підтримка PackageKit
Name[x-test]=xxPackageKit Supportxx
GenericName=Applications Backend
GenericName[cs]=Podpůrná vrstva aplikace
GenericName[da]=Programmotor
GenericName[de]=Dienstprogramm für Anwendungen
GenericName[es]=Motor de aplicaciones
GenericName[fi]=Sovellukset-taustajärjestelmä
GenericName[fr]=Moteur des applications
GenericName[gl]=Infraestrutura de programas
GenericName[nl]=Backend van toepassing
GenericName[pt]=Infra-Estrutura de Aplicações
GenericName[pt_BR]=Infraestrutura de aplicativos
GenericName[sk]=Backend aplikácií
GenericName[sl]=Zaledje programov
GenericName[sr]=Позадина за програме
GenericName[sr@ijekavian]=Позадина за програме
GenericName[sr@ijekavianlatin]=Pozadina za programe
GenericName[sr@latin]=Pozadina za programe
GenericName[sv]=Programgränssnitt
GenericName[tr]=Uygulama Arka Uçları
GenericName[uk]=Модуль програм
GenericName[x-test]=xxApplications Backendxx
X-KDE-Library=muon-pkbackend
X-KDE-PluginInfo-Name=muon-pkbackend
X-KDE-PluginInfo-License=GPL
