[Desktop Entry]
Name=Muon PackageKit Notifier
Name[ca]=Notificador del PackageKit pel Muon
Name[cs]=Oznamování PackageKitu pro Muon
Name[es]=Notificador de PackageKit de Muon
Name[nl]=Muon-melder van PackageKit
Name[pt]=Notificação do PackageKit para o Muon
Name[pt_BR]=Notificador do PackageKit para o Muon
Name[sl]=Obvestilnik PackageKit za Muon
Name[sv]=Muon PackageKit underrättelse
Name[uk]=Сповіщувач Muon для PackageKit
Name[x-test]=xxMuon PackageKit Notifierxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muonpackagekitnotifier
X-KDE-FactoryName=muonpackagekitnotifier
X-KDE-DBus-ModuleName=muonpackagekitnotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
