[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in PackageKit
Comment[ca]=Instal·la i mostra aplicacions en el PackageKit
Comment[en_GB]=Install and browse applications in PackageKit
Comment[nl]=Installeer en blader door toepassingen in PackageKit
Comment[pt_BR]=Instala e navega pelos aplicativos no PackageKit
Comment[sv]=Installera och bläddra bland program med PackageKit
Comment[x-test]=xxInstall and browse applications in PackageKitxx
Name=PackageKit Support
Name[ca]=Implementació del PackageKit
Name[en_GB]=PackageKit Support
Name[nl]=Ondersteuning van PackageKit
Name[pt_BR]=Suporte para o PackageKit
Name[sv]=Stöd för PackageKit
Name[x-test]=xxPackageKit Supportxx
GenericName=Applications Backend
GenericName[ca]=Dorsal d'aplicacions
GenericName[en_GB]=Applications Backend
GenericName[nl]=Backend van toepassing
GenericName[pt_BR]=Infraestrutura de aplicativos
GenericName[sv]=Programgränssnitt
GenericName[x-test]=xxApplications Backendxx
X-KDE-Library=muon-pkbackend
X-KDE-PluginInfo-Name=muon-packagekit-backend
X-KDE-PluginInfo-License=GPL
