[Desktop Entry]
Type=Service
Exec=blubb
Icon=kalarm
Name=Dummy
Name[ca]=Prova
Name[ca@valencia]=Prova
Name[cs]=Falešný
Name[da]=Dummy
Name[de]=Dummy
Name[el]=Πλασματικό
Name[en_GB]=Dummy
Name[es]=Simulado
Name[et]=Dummy
Name[fi]=Testi
Name[fr]=Factice
Name[gl]=Ensaio
Name[it]=Fittizio
Name[ko]=더미
Name[nb]=Attrapp
Name[nl]=Dummy
Name[nn]=Eksempel
Name[pl]=Fikcyjny
Name[pt]=Teste
Name[pt_BR]=Teste
Name[sk]=Prázdne
Name[sl]=Preizkusno
Name[sr]=Лажна
Name[sr@ijekavian]=Лажна
Name[sr@ijekavianlatin]=Lažna
Name[sr@latin]=Lažna
Name[sv]=Test
Name[uk]=Макет
Name[x-test]=xxDummyxx
Name[zh_CN]=哑
Name[zh_TW]=虛擬
GenericName=Dummy
GenericName[ca]=Prova
GenericName[ca@valencia]=Prova
GenericName[cs]=Falešný
GenericName[da]=Dummy
GenericName[de]=Dummy
GenericName[el]=Πλασματικό
GenericName[en_GB]=Dummy
GenericName[es]=Simulado
GenericName[et]=Dummy
GenericName[fi]=Testi
GenericName[fr]=Factice
GenericName[gl]=Ensaio
GenericName[it]=Fittizio
GenericName[ko]=더미
GenericName[nb]=Attrapp
GenericName[nl]=Dummy
GenericName[nn]=Eksempel
GenericName[pl]=Fikcyjny
GenericName[pt]=Teste
GenericName[pt_BR]=Teste
GenericName[sk]=Prázdne
GenericName[sl]=Preizkusno
GenericName[sr]=Лажна
GenericName[sr@ijekavian]=Лажна
GenericName[sr@ijekavianlatin]=Lažna
GenericName[sr@latin]=Lažna
GenericName[sv]=Test
GenericName[uk]=Макет
GenericName[x-test]=xxDummyxx
GenericName[zh_CN]=哑
GenericName[zh_TW]=虛擬
Comment=It's some dummy backend for testing purposes
Comment[ca]=Són alguns dorsals falsos amb la finalitat de fer proves
Comment[ca@valencia]=Són alguns dorsals falsos amb la finalitat de fer proves
Comment[cs]=Falešná podpůrná vrstva pro testovací účely
Comment[de]=Ein Dummy-Backend zu Testzwecken
Comment[el]=Είναι ένα πλασματικό σύστημα υποστήριξης για δοκιμαστικούς σκοπούς
Comment[en_GB]=It's some dummy backend for testing purposes
Comment[es]=Motor simulado con la finalidad de hacer pruebas
Comment[et]=See on fiktiivne taustaprogramm testimiseks
Comment[fi]=Taustajärjestelmä testaustarkoituksiin
Comment[fr]=Ceci est un moteur factice pour des besoins de tests
Comment[gl]=É unha infraestrutura de probas
Comment[it]=È un motore fittizio creato a scopo di prova
Comment[ko]=테스트를 위한 더미 백엔드
Comment[nb]=Det er en attrapp bakgrunnsmotor for testing
Comment[nl]=Het is zo'n dummy backend voor testdoeleinden
Comment[nn]=Det er ein eksempelbakgrunnsmotor for testformål
Comment[pl]=Jest to rodzaj fikcyjnego silnika na potrzeby prób
Comment[pt]=É apenas uma infra-estrutura para fins de testes
Comment[pt_BR]=Exemplo de infraestrutura para testes
Comment[sk]=Je to nejaký prázdny backend na testovacie účely
Comment[sl]=To je preizkusno zaledje za namene preizkušanja
Comment[sr]=Лажна позадина за потребе испробавања
Comment[sr@ijekavian]=Лажна позадина за потребе испробавања
Comment[sr@ijekavianlatin]=Lažna pozadina za potrebe isprobavanja
Comment[sr@latin]=Lažna pozadina za potrebe isprobavanja
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte
Comment[uk]=Тестовий модуль
Comment[x-test]=xxIt's some dummy backend for testing purposesxx
Comment[zh_CN]=测试用的虚拟后端
Comment[zh_TW]=測試用的虛擬後端介面
X-KDE-Library=dummy-backend
X-KDE-PluginInfo-Name=dummy-backend
X-KDE-PluginInfo-License=GPL
