[Desktop Entry]
Type=Service
Exec=blubb
Icon=kalarm
Name=Dummy
Name[ca]=Prova
Name[en_GB]=Dummy
Name[fi]=Testi
Name[fr]=Factice
Name[ko]=더미
Name[nl]=Dummy
Name[pt]=Teste
Name[pt_BR]=Teste
Name[sk]=Prázdne
Name[sv]=Test
Name[uk]=Макет
Name[x-test]=xxDummyxx
GenericName=Dummy
GenericName[ca]=Prova
GenericName[en_GB]=Dummy
GenericName[fi]=Testi
GenericName[fr]=Factice
GenericName[ko]=더미
GenericName[nl]=Dummy
GenericName[pt]=Teste
GenericName[pt_BR]=Teste
GenericName[sk]=Prázdne
GenericName[sv]=Test
GenericName[uk]=Макет
GenericName[x-test]=xxDummyxx
Comment=It's some dummy backend for testing purposes
Comment[ca]=Són alguns dorsals falsos amb la finalitat de fer proves
Comment[en_GB]=It's some dummy backend for testing purposes
Comment[fi]=Taustajärjestelmä testaustarkoituksiin
Comment[fr]=Ceci est un moteur factice pour des besoins de tests
Comment[ko]=테스트를 위한 더미 백엔드
Comment[nl]=Het is zo'n dummy backend voor testdoeleinden
Comment[pt]=É apenas uma infra-estrutura para fins de testes
Comment[pt_BR]=Exemplo de infraestrutura para testes
Comment[sk]=Je to nejaký prázdny backend na testovacie účely
Comment[sv]=Ett bakgrundsprogram för KDE:s partitionshanterare i testsyfte
Comment[uk]=Тестовий модуль
Comment[x-test]=xxIt's some dummy backend for testing purposesxx
X-KDE-Library=dummy-backend
X-KDE-PluginInfo-Name=dummy-backend
X-KDE-PluginInfo-License=GPL
