[Desktop Entry]
Name=Muon Notifier
Name[bs]=Muon notifikator
Name[ca]=Notificador del Muon
Name[ca@valencia]=Notificador del Muon
Name[cs]=Oznamování pro Muon
Name[da]=Bekendtgørelser fra Muon
Name[de]=Muon-Benachrichtigung
Name[el]=Πρόγραμμα ειδοποιήσεων Muon
Name[en_GB]=Muon Notifier
Name[es]=Notificador de Muon
Name[et]=Muoni märguanded
Name[fi]=Muon-ilmoitukset
Name[fr]=Notifieur de Muon
Name[ga]=Fógróir Muon
Name[gl]=Notificador de Muon
Name[hu]=Muon értesítő
Name[it]=Notifiche di Muon
Name[kk]=Muon құлақтандырғышы
Name[ko]=Muon 알림이
Name[lt]=Muon pranešėjas
Name[mr]=म्युओन डिस्कव्हर
Name[nb]=Muon-varsler
Name[nds]=Muon-Bescheden
Name[nl]=Muon-melder
Name[pa]=ਮੂਓਨ ਨੋਟੀਫਾਇਰ
Name[pl]=Powiadomienia Muon
Name[pt]=Notificação do Muon
Name[pt_BR]=Notificador do Muon
Name[ro]=Notificare Muon
Name[ru]=Уведомления Muon
Name[sk]=Muon správca oznamov
Name[sl]=Obvestilnik Muon
Name[sr]=Муонов извештавач
Name[sr@ijekavian]=Муонов извјештавач
Name[sr@ijekavianlatin]=Muonov izvještavač
Name[sr@latin]=Muonov izveštavač
Name[sv]=Muon underrättelse
Name[tr]=Muon Bildirici
Name[ug]=Muon ئەسكەرتكۈچ
Name[uk]=Сповіщувач Muon
Name[x-test]=xxMuon Notifierxx
Name[zh_CN]=Muon 通知器
Name[zh_TW]=Muon 通知器
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muon-notifier
X-KDE-FactoryName=muon-notifier
X-KDE-DBus-ModuleName=muon-notifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
