[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=system-software-update

X-KDE-Library=kcm_updates
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Software Update
Name[az]=Proqram Təminatı Yenilənməsi
Name[ca]=Actualització de programari
Name[de]=Softwareaktualisierung
Name[es]=Actualización de software
Name[eu]=Software eguneratzea
Name[fr]=Mise à jour des logiciels 
Name[ia]=Actualisationes de Software
Name[it]=Aggiornamento software
Name[ko]=소프트웨어 업데이트
Name[nl]=Bijwerken van software
Name[pl]=Uaktualnienia oprogramowania
Name[pt]=Actualização de Aplicações
Name[pt_BR]=Atualização de aplicativos
Name[ro]=Actualizare de programe
Name[sk]=Aktualizácia softvéru
Name[sl]=Posodobi programe
Name[sv]=Uppdatering av programvara
Name[uk]=Оновлення програм
Name[x-test]=xxSoftware Updatexx
Name[zh_CN]=软件更新
Comment=Configure software update behavior
Comment[az]=Proqram təminatı yenilənməsi davranışını ayarlayın
Comment[ca]=Configura el comportament de l'actualització de programari
Comment[de]=Verhalten der Softwareaktualisierungen einrichten
Comment[es]=Configurar el comportamiento de las actualizaciones de software
Comment[eu]=Konfiguratu software eguneratzearen jokabidea
Comment[fr]=Configurer le comportement pour les mises à jour des logiciels 
Comment[ia]=Configura ambiente de actualisation de software
Comment[it]=Configura il comportamento degli aggiornamenti software
Comment[ko]=소프트웨어 업데이트 행동 설정
Comment[nl]=Gedrag van software bijwerken configureren
Comment[pl]=Ustawienia zachowania uaktualnień oprogramowania
Comment[pt]=Configurar o comportamento da actualização de aplicações
Comment[pt_BR]=Configurar o comportamento da atualização de aplicativos
Comment[ro]=Configurează comportamentul actualizării de programe
Comment[sk]=Nakonfigurovať správanie softvérových aktualizácii
Comment[sl]=Nastavite obnašanje posodobitev programov
Comment[sv]=Anpassa beteende för uppdateringar av programvara
Comment[uk]=Налаштовування поведінки при оновленні програм
Comment[x-test]=xxConfigure software update behaviorxx
Comment[zh_CN]=配置软件更新行为

Categories=Qt;KDE;
