[Desktop Entry]
Type=Application
NoDisplay=true
Icon=system-software-update
Exec=systemsettings kcm_updates

Name=Software Update
Name[ar]=تحديث البرمجيّات
Name[az]=Proqram Təminatı Yenilənməsi
Name[ca]=Actualització de programari
Name[de]=Softwareaktualisierung
Name[en_GB]=Software Update
Name[es]=Actualización de software
Name[eu]=Software eguneratzea
Name[fi]=Ohjelmapäivitys
Name[fr]=Mise à jour des logiciels 
Name[hi]=सॉफ्टवेयर अद्यतन
Name[hsb]=Aktualizowanje
Name[ia]=Actualisationes de Software
Name[it]=Aggiornamento software
Name[ko]=소프트웨어 업데이트
Name[lt]=Programinės įrangos atnaujinimas
Name[my]=ဆော့ဖ်ဝဲလ်အပ်ဒိတ်
Name[nl]=Bijwerken van software
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pl]=Uaktualnienia oprogramowania
Name[pt_BR]=Atualização de aplicativos
Name[ro]=Actualizare de programe
Name[ru]=Обновление программ
Name[sk]=Aktualizácia softvéru
Name[sl]=Posodobi programe
Name[sv]=Uppdatering av programvara
Name[tg]=Навсозии нармафзор
Name[uk]=Оновлення програм
Name[zh_TW]=軟體更新
