[Desktop Entry]
Name=Install More...
Name[da]=Installér mere...
Name[el]=Εγκατάσταση περισσότερων...
Name[es]=Instalar más...
Name[et]=Rohkem tarkvara...
Name[fi]=Asenna lisää...
Name[fr]=Installer plus...
Name[ga]=Suiteáil Tuilleadh...
Name[hu]=Több telepítése…
Name[it]=Installa altro...
Name[kk]=Тағы орнату...
Name[lt]=Įdiegti daugiau...
Name[nb]=Installer flere …
Name[nl]=Meer installeren...
Name[pl]=Zainstaluj więcej...
Name[pt]=Instalar Mais...
Name[pt_BR]=Instalar mais...
Name[ru]=Установить ещё...
Name[sk]=Inštalovať viac...
Name[sl]=Namesti več ...
Name[sr]=Инсталирајте још...
Name[sr@ijekavian]=Инсталирајте још...
Name[sr@ijekavianlatin]=Instalirajte još...
Name[sr@latin]=Instalirajte još...
Name[sv]=Installera fler...
Name[uk]=Встановити ще…
Name[x-test]=xxInstall More...xx
Name[zh_TW]=安裝更多...
Exec=muon-discover --category @category
Icon=muondiscover
Type=Application
NoDisplay=true
