[Desktop Entry]
Name=Muon Discover
Name[bg]=Muon Discover
Name[bs]=Muon otkrivač
Name[ca]=Muon Discover
Name[ca@valencia]=Muon Discover
Name[cs]=Muon Discover
Name[da]=Muon Discover
Name[de]=Muon-Discover
Name[el]=Muon Discover
Name[en_GB]=Muon Discover
Name[es]=Muon Discover
Name[et]=Muoni avastusretk
Name[fi]=Muon Discover
Name[fr]=Découvreur de Muon
Name[ga]=Aimsiú Muon
Name[gl]=Descubridor do Muon
Name[hu]=Muon Discover
Name[id]=Muon Discover
Name[it]=Muon Discover
Name[kk]=Muon тапқышы
Name[ko]=Muon 발견
Name[lt]=Muon apžvalga
Name[mr]=म्युओन डिस्कव्हर
Name[nb]=Muon-oppdager
Name[nds]=Muon-Opdecken
Name[nl]=Muon-zoeken
Name[pa]=ਮੂਓਨ ਖੋਜ
Name[pl]=Odkrywca Muon
Name[pt]=Descoberta do Muon
Name[pt_BR]=Muon Discover
Name[ro]=Descoperire Muon
Name[ru]=Обзор программ Muon
Name[sk]=Muon Discover
Name[sl]=Odkritelj Muon
Name[sr]=Муонов откривач
Name[sr@ijekavian]=Муонов откривач
Name[sr@ijekavianlatin]=Muonov otkrivač
Name[sr@latin]=Muonov otkrivač
Name[sv]=Muon upptäckt
Name[tr]=Muon Keşfet
Name[uk]=Шукач Muon
Name[x-test]=xxMuon Discoverxx
Name[zh_CN]=Muon 发现者
Name[zh_TW]=Muon 探詢器
Exec=muon-discover
Icon=muondiscover
Type=Application
X-DocPath=muon/index.html
GenericName=Software Center
GenericName[bg]=Софтуерен център
GenericName[bs]=Softverski centar
GenericName[ca]=Centre de programari
GenericName[ca@valencia]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[da]=Softwarecenter
GenericName[de]=Programmverwaltung
GenericName[el]=Κέντρο λογισμικού
GenericName[en_GB]=Software Centre
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logithèque
GenericName[ga]=Lárionad Bogearraí
GenericName[gl]=Centro de Software
GenericName[hu]=Szoftverközpont
GenericName[id]=Pusat Perangkat Lunak
GenericName[it]=Software Center
GenericName[kk]=Бағдарлама орталығы
GenericName[ko]=소프트웨어 센터
GenericName[lt]=Programų centras
GenericName[mr]=सॉफ़्टवेअर केंद्र
GenericName[nb]=Programvaresenter
GenericName[nds]=Software-Zentrum
GenericName[nl]=Softwarecentrum
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਸੈਂਟਰ
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Aplicações
GenericName[pt_BR]=Central de aplicativos
GenericName[ro]=Centrul de Aplicații
GenericName[ru]=Центр программ
GenericName[sk]=Softwareové centum
GenericName[sl]=Programsko središče
GenericName[sr]=Софтверски центар
GenericName[sr@ijekavian]=Софтверски центар
GenericName[sr@ijekavianlatin]=Softverski centar
GenericName[sr@latin]=Softverski centar
GenericName[sv]=Programvarucentral
GenericName[tr]=Yazılım Merkezi
GenericName[ug]=يۇمشاق دېتال مەركىزى
GenericName[uk]=Центр програм
GenericName[x-test]=xxSoftware Centerxx
GenericName[zh_CN]=软件中心
GenericName[zh_TW]=軟體中心
Categories=Qt;KDE;System;
Keywords=program;software;repository;package;install;remove;update;apps;applications;
Keywords[bg]=програма;софтуер;хранилище;пакет;инсталиране;премахване;обновяване;приложение;приложения;
Keywords[bs]=program;softver;repozitorij;paket;instalacija;uklanjanje;ažuriranje;nadogradnja;aplikacije;
Keywords[ca]=programa;programari;repositori;paquet;instal·la;suprimeix;actualitza;apps;aplicacions;
Keywords[ca@valencia]=programa;programari;repositori;paquet;instal·la;suprimeix;actualitza;apps;aplicacions;
Keywords[cs]=program;software;repozitář;balíček;instalovat;odstranit;aktualizovat;programy;aplikace;
Keywords[da]=program;software;repository;softwarekilde;pakke;installere;fjerne;apps;applikationer;opdatere;
Keywords[de]=Programm;Software;Archiv;Repository;Paket;Installieren;Entfernen;Aktualisieren;deb;Programme;Anwendungen;
Keywords[el]=πρόγραμμα;λογισμικό;αποθετήριο;πακέτο;εγκατάσταση;αφαίρεση;ενημέρωση;εφαρμογές;
Keywords[en_GB]=program;software;repository;package;install;remove;update;apps;applications;
Keywords[es]=programa;software;repositorio;paquete;instalar;eliminar;actualizar;apps;aplicaciones;
Keywords[et]=programm,rakendus,tarkvara,hoidla,pakk,pakett,paigaldamine,installimine,eemaldamine,uuendamine,rakendused,deb
Keywords[fi]=program;software;repository;package;install;remove;update;apps;applications;ohjelma;ohjelmisto;ohjelmalähde;lähteet;arkisto;paketti;asenna;poista;päivitä;sovellukset;
Keywords[fr]=programme ; logiciel ; dépôt ; archive ; paquet ; installation ; suppression ; mise à jour ; deb
Keywords[hu]=program;szoftver;tároló;csomag;telepítés;eltávolítás;frissítés;appok;alkalmazások;
Keywords[id]=program;perangkat lunak;repositori;paket;pasang;buang;perbarui;apl;aplikasi;
Keywords[it]=programma;software;deposito;pacchetto;installa;rimuovi;aggiorna;app;applicazioni;
Keywords[ko]=program,software,repository,archive,package,install,remove,update,deb,프로그램,소프트웨어,저장소,리포지토리,패키지,꾸러미,설치,삭제,업데이트
Keywords[lt]=programos,programinė įranga,saugykla,archyvas,paketas,įdiegti,pašalinti,atnaujinti;
Keywords[nb]=program;programvare;pakkebrønn;pakke;installere;fjerne;oppdatere;app;apper
Keywords[nds]=programm;software;repository;archiev,paket;installeren;wegmaken;opfrischen;update;apps;programmen;
Keywords[nl]=programma;software;opslagruimte;pakket;installeren;verwijderen;bijwerken;apps;toepassingen;applicaties;
Keywords[pl]=program,oprogramowanie,repozytorium,archiwum,pakiet,paczka,instaluj,zainstaluj,usuń,odinstaluj,uaktualnij,aktualizuj,programy,aplikacje,deb
Keywords[pt]=programa;software;repositório;arquivo;pacote;instalar;remover;actualizar;deb;aplicações;
Keywords[pt_BR]=programa;software;repositório;pacote;instalar;instalação;remover;atualizar;aplicativos;apps;aplicações;
Keywords[ro]=program;software;depozit;arhivă;pachet;instalare;elimină;actualizare;aplicații;
Keywords[ru]=program;software;repository;package;install;remove;update;apps;applications;программа;приложение;репозиторий;пакет;установка;удаление;deb;
Keywords[sk]=program;softvér;repozitár;archív;balík;inštalácia;odstránenie;appky;aplikácie;aktualizácia;
Keywords[sl]=program;programska oprema;skladišče;paket;namesti;odstrani;posodobi;programi;
Keywords[sr]=program;software;repository;package;install;remove;update;apps;applications;програм;софтвер;ризница;пакет;инсталирати;уклонити;ажурирати;
Keywords[sr@ijekavian]=program;software;repository;package;install;remove;update;apps;applications;програм;софтвер;ризница;пакет;инсталирати;уклонити;ажурирати;
Keywords[sr@ijekavianlatin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;ažurirati;
Keywords[sr@latin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;ažurirati;
Keywords[sv]=program;programvara;arkiv;paket;installera;ta bort;uppdatera;appar;program;
Keywords[tr]=uygulama;yazılım;depo;paket;kur;kaldır;güncelle;uygulamalar;yüklemeler;
Keywords[uk]=program;software;repository;package;install;remove;update;app;apps;applications;програма;програмне забезпечення;сховище;архів;пакунок;встановити;встановлення;вилучити;вилучення;оновлення;оновити;
Keywords[x-test]=xxprogramxx;xxsoftwarexx;xxrepositoryxx;xxpackagexx;xxinstallxx;xxremovexx;xxupdatexx;xxappsxx;xxapplicationsxx;
Keywords[zh_CN]=program;software;repository;package;install;remove;update;apps;applications;程序;软件;软件源;包;安装;移除;升级;应用程序;
Keywords[zh_TW]=program;software;repository;package;install;remove;update;apps;applications;
