[Desktop Entry]
Name=Install More...
Name[da]=Installér mere...
Name[fr]=Installer plus...
Name[nl]=Meer installeren...
Name[pt]=Instalar Mais...
Name[uk]=Встановити ще…
Name[x-test]=xxInstall More...xx
Exec=muon-discover --category @category
Icon=muondiscover
Type=Application
NoDisplay=true
