[Desktop Entry]
Name=Muon Discover
Exec=muon-discover
Icon=muondiscover
Type=Application
X-DocPath=muon/index.html
GenericName=Software Center
Categories=Qt;KDE;System;
Keywords=program;software;repository;package;install;remove;update;apps;applications;
