[Desktop Entry]
Name=Install More...
Name[cs]=Nainstalovat více ...
Name[es]=Instalar más...
Name[nl]=Meer installeren...
Name[pt]=Instalar Mais...
Name[pt_BR]=Instalar mais...
Name[sv]=Installera fler...
Name[uk]=Встановити ще…
Name[x-test]=xxInstall More...xx
Exec=muon-discover --category @category
Icon=muondiscover
Type=Application
NoDisplay=true
