[Desktop Entry]
Name=Discover
Name[ar]=??????
Name[ca]=Discover
Name[ca@valencia]=Discover
Name[da]=Opdagelse
Name[de]=Discover
Name[el]=Discover
Name[en_GB]=Discover
Name[es]=Discover
Name[fi]=Discover
Name[gl]=Descubrir
Name[ko]=??
Name[nl]=Ontdekken
Name[nn]=Oppdag
Name[pl]=Odkryj
Name[pt]=Discover
Name[pt_BR]=Discover
Name[sk]=Objavi?
Name[sl]=Odkrijte
Name[sr]=O???????
Name[sr@ijekavian]=O???????
Name[sr@ijekavianlatin]=Otkriva?
Name[sr@latin]=Otkriva?
Name[sv]=Uppt?ck
Name[uk]=Discover
Name[x-test]=xxDiscoverxx
Name[zh_CN]=??者
GenericName=Software Center
GenericName[ar]=???? ????????
GenericName[ast]=Centru de software
GenericName[ca]=Centre de programari
GenericName[ca@valencia]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[da]=Softwarecenter
GenericName[de]=Programmverwaltung
GenericName[el]=Κ?ντρο λογισμικο?
GenericName[en_GB]=Software Center
GenericName[es]=Centro de software
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logith?que
GenericName[gl]=Centro de Software
GenericName[it]=Software Center
GenericName[ko]=????? ??
GenericName[nb]=Programvaresenter
GenericName[nl]=Softwarecentrum
GenericName[nn]=Programvaresenter
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Aplica??es
GenericName[pt_BR]=Central de aplicativos
GenericName[sk]=Softwareov? centum
GenericName[sl]=Programsko sredi??e
GenericName[sr]=?????????? ??????
GenericName[sr@ijekavian]=?????????? ??????
GenericName[sr@ijekavianlatin]=Softverski centar
GenericName[sr@latin]=Softverski centar
GenericName[sv]=Programvarucentral
GenericName[uk]=????? ???????
GenericName[x-test]=xxSoftware Centerxx
GenericName[zh_CN]=?件中心
Keywords=program;software;repository;package;install;remove;update;apps;applications;
Keywords[ar]=??????;???????;??????;??????;????;?????;?????;?????;?????;???????;?????;
Keywords[ca]=programa;programari;repositori;paquet;instal·la;suprimeix;actualitza;apps;aplicacions;
Keywords[ca@valencia]=programa;programari;repositori;paquet;instal·la;suprimeix;actualitza;apps;aplicacions;
Keywords[cs]=program;software;repozit??;bal??ek;instalovat;odstranit;aktualizovat;programy;aplikace;
Keywords[de]=Programm;Software;Archiv;Repository;Paket;Installieren;Entfernen;Aktualisieren;Programme;Anwendungen;
Keywords[el]=πρ?γραμμα;λογισμικ?;αποθετ?ριο;πακ?το;εγκατ?σταση;αφα?ρεση;ενημ?ρωση;εφαρμογ??;
Keywords[en_GB]=program;software;repository;package;install;remove;update;apps;applications;
Keywords[es]=programa;software;repositorio;paquete;instalar;eliminar;actualizar;apps;aplicaciones;
Keywords[fi]=program;software;repository;package;install;remove;update;apps;applications;ohjelma;ohjelmisto;ohjelmal?hde;l?hteet;arkisto;paketti;asenna;poista;p?ivit?;sovellukset;
Keywords[fr]=programme?; logiciel?; d?p?t?; archive?; paquet?; installation?; suppression?; mise ? jour?; deb
Keywords[gl]=aplicativo,software,repositorio,paquete,instalar,eliminar,actualizar,deb
Keywords[it]=programma;software;deposito;pacchetto;installa;rimuovi;aggiorna;app;applicazioni;
Keywords[ko]=program;software;repository;archive;package;install;remove;update;deb;????;?????;???;?????;???;???;??;??;????;
Keywords[nb]=program;programvare;pakkebr?nn;pakke;installere;fjerne;oppdatere;app;apper;
Keywords[nl]=programma;software;opslagruimte;pakket;installeren;verwijderen;bijwerken;apps;toepassingen;applicaties;
Keywords[nn]=program;programvare;pakkebr?nn;pakke;pakkar;installera;installering;fjerna;fjerning;oppdatera;oppdatering;app;appar;applikasjonar;
Keywords[pl]=program,oprogramowanie,repozytorium,archiwum,pakiet,paczka,instaluj,zainstaluj,usu?,odinstaluj,uaktualnij,aktualizuj,programy,aplikacje,deb
Keywords[pt]=programa;software;reposit?rio;pacote;instalar;remover;actualizar;aplica??es;
Keywords[pt_BR]=programa;software;reposit?rio;pacote;instalar;instala??o;remover;atualizar;aplicativos;apps;aplica??es;
Keywords[sk]=program;softv?r;repozit?r;arch?v;bal?k;in?tal?cia;odstr?nenie;appky;aplik?cie;aktualiz?cia;
Keywords[sl]=program;programska oprema;skladi??e;paket;namesti;odstrani;posodobi;programi;
Keywords[sr]=program;software;repository;package;install;remove;update;apps;applications;???????;???????;???????;?????;???????????;????????;?????????;
Keywords[sr@ijekavian]=program;software;repository;package;install;remove;update;apps;applications;???????;???????;???????;?????;???????????;????????;?????????;
Keywords[sr@ijekavianlatin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;a?urirati;
Keywords[sr@latin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;a?urirati;
Keywords[sv]=program;programvara;arkiv;paket;installera;ta bort;uppdatera;appar;program;
Keywords[uk]=program;software;repository;package;install;remove;update;app;apps;applications;????????;????????? ????????????;???????;?????;???????;??????????;????????????;????????;?????????;?????????;???????;
Keywords[x-test]=xxprogramxx;xxsoftwarexx;xxrepositoryxx;xxpackagexx;xxinstallxx;xxremovexx;xxupdatexx;xxappsxx;xxapplicationsxx;
Keywords[zh_CN]=program;software;repository;package;install;remove;update;apps;applications;程序;?件;?件源;包;安?;移除;更新;?用程序;?用

X-KDE-FormFactors=handset,tablet,mediacenter
MimeType=x-scheme-handler/appstream;
Exec=plasma-discover %U
Icon=plasmadiscover
Type=Application
X-DocPath=plasma-discover/index.html
Categories=Qt;KDE;System;
