[Desktop Entry]
Name=Muon Discover
Name[ca]=Muon Discover
Name[en_GB]=Muon Discover
Name[nl]=Muon-zoeken
Name[pt_BR]=Muon Discover
Name[sv]=Muon upptäckt
Name[x-test]=xxMuon Discoverxx
MimeType=x-scheme-handler/appstream
Exec=muon-discover %U
Icon=muondiscover
Type=Application
X-DocPath=muon/index.html
GenericName=Software Center
GenericName[ca]=Centre de programari
GenericName[en_GB]=Software Center
GenericName[nl]=Softwarecentrum
GenericName[pt_BR]=Central de aplicativos
GenericName[sv]=Programvarucentral
GenericName[x-test]=xxSoftware Centerxx
Categories=Qt;KDE;System;
Keywords=program;software;repository;package;install;remove;update;apps;applications;
Keywords[ca]=programa;programari;repositori;paquet;instal·la;suprimeix;actualitza;apps;aplicacions;
Keywords[en_GB]=program;software;repository;package;install;remove;update;apps;applications;
Keywords[nl]=programma;software;opslagruimte;pakket;installeren;verwijderen;bijwerken;apps;toepassingen;applicaties;
Keywords[pt_BR]=programa;software;repositório;pacote;instalar;instalação;remover;atualizar;aplicativos;apps;aplicações;
Keywords[sv]=program;programvara;arkiv;paket;installera;ta bort;uppdatera;appar;program;
Keywords[x-test]=xxprogramxx;xxsoftwarexx;xxrepositoryxx;xxpackagexx;xxinstallxx;xxremovexx;xxupdatexx;xxappsxx;xxapplicationsxx;
