[Desktop Entry]
Name=Muon Akabei Notifier
Name[bs]=Muon Akabel notifikator
Name[cs]=Oznamování Akabei pro Muon
Name[da]=Muon Akabei-bekendtgørelser
Name[de]=Muon-Akabei-Benachrichtigung
Name[es]=Notificador de Akabei de Muon
Name[fi]=Muonin Akabei-ilmoitukset
Name[hu]=Muon Akabei értesítő
Name[nl]=Muon-melder van Akabei
Name[pt]=Notificação do Akabei para o Muon
Name[pt_BR]=Notificador do Akabei para o Muon
Name[sk]=Muon Akabei oznamovač
Name[sl]=Obvestilnik Akabei za Muon
Name[sr]=Муонов извештавач за Акабеј
Name[sr@ijekavian]=Муонов извјештавач за Акабеј
Name[sr@ijekavianlatin]=Muonov izvještavač za Akabei
Name[sr@latin]=Muonov izveštavač za Akabei
Name[sv]=Muon Akabei underrättelse
Name[tr]=Muon Akabei Bildirici
Name[uk]=Сповіщувач Muon для Akabei
Name[x-test]=xxMuon Akabei Notifierxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muonakabeinotifier
X-KDE-FactoryName=muonakabeinotifier
X-KDE-DBus-ModuleName=muonakabeinotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
