[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in Chakra
Comment[cs]=Instalujte a prohlížejte aplikace v Chakra
Comment[da]=Installér og gennemse programmer i Chakra
Comment[de]=Anwendungen in Chakra Installieren und durchsuchen
Comment[es]=Instalar y examinar aplicaciones en Chakra
Comment[fi]=Asenna ja selaa Chakran välityksellä tarjolla olevia sovelluksia
Comment[nl]=Installeer en blader door toepassingen in Chakra
Comment[pt]=Instalar e navegar pelas aplicações no Chakra
Comment[pt_BR]=Instala e navega pelos aplicativos no Chakra
Comment[sk]=Inštalácia a prehliadanie aplikácií v Chakra
Comment[sr]=Инсталирајте и прегледајте програме из Чакре
Comment[sr@ijekavian]=Инсталирајте и прегледајте програме из Чакре
Comment[sr@ijekavianlatin]=Instalirajte i pregledajte programe iz Chakre
Comment[sr@latin]=Instalirajte i pregledajte programe iz Chakre
Comment[sv]=Installera och bläddra bland program med Chakra
Comment[tr]=Uygulamalara Chakra içerisinde gözat ve yükle
Comment[uk]=Встановіть і перегляньте встановлені програми у Chakra
Comment[x-test]=xxInstall and browse applications in Chakraxx
Name=Akabei Backend
Name[cs]=Podpůrná vrstva Akabei
Name[da]=Akabei-backend
Name[de]=Akabei-Backend
Name[es]=Motor de Akabei
Name[fi]=Akabei-taustajärjestelmä
Name[nl]=Backend van Akabei
Name[pt]=Infra-Estrutura do Akabei
Name[pt_BR]=Infraestrutura Akabei
Name[sk]=Backend Akabei
Name[sr]=Позадина за Акабеј
Name[sr@ijekavian]=Позадина за Акабеј
Name[sr@ijekavianlatin]=Pozadina za Akabei
Name[sr@latin]=Pozadina za Akabei
Name[sv]=Akabei-gränssnitt
Name[tr]=Akabei Arka Ucu
Name[uk]=Модуль Akabei
Name[x-test]=xxAkabei Backendxx
GenericName=Chakra Support
GenericName[cs]=Podpora Chakra
GenericName[da]=Chakra-understøttelse
GenericName[de]=Unterstützung für Chakra
GenericName[es]=Implementación de Chakra
GenericName[fi]=Chakra-tuki
GenericName[nl]=Ondersteuning van Chakra
GenericName[pt]=Suporte para o Chakra
GenericName[pt_BR]=Suporte para o Chakra
GenericName[sk]=Podpora Chakra
GenericName[sr]=Подршка за Чакру
GenericName[sr@ijekavian]=Подршка за Чакру
GenericName[sr@ijekavianlatin]=Podrška za Chakru
GenericName[sr@latin]=Podrška za Chakru
GenericName[sv]=Stöd för Chakra
GenericName[tr]=Chakra Desteği
GenericName[uk]=Підтримка Chakra
GenericName[x-test]=xxChakra Supportxx
X-KDE-Library=muon-akabeibackend
X-KDE-PluginInfo-Name=muon-akabeibackend
X-KDE-PluginInfo-License=GPL
