[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in Chakra
Comment[ca]=Instal·la i mostra aplicacions a Chakra
Comment[cs]=Instalujte a prohlížejte aplikace v Chakra
Comment[es]=Instalar y examinar aplicaciones en Chakra
Comment[nl]=Installeer en blader door toepassingen in Chakra
Comment[pt]=Instalar e navegar pelas aplicações no Chakra
Comment[pt_BR]=Instala e navega pelos aplicativos no Chakra
Comment[sl]=Namestite in brskajte po programih v Chakri
Comment[sv]=Installera och bläddra bland program med Chakra
Comment[uk]=Встановіть і перегляньте встановлені програми у Chakra
Comment[x-test]=xxInstall and browse applications in Chakraxx
Name=Akabei Backend
Name[ca]=Dorsal Akabei
Name[cs]=Podpůrná vrstva Akabei
Name[es]=Motor de Akabei
Name[nl]=Backend van Akabei
Name[pt]=Infra-Estrutura do Akabei
Name[pt_BR]=Infraestrutura Akabei
Name[sl]=Zaledje Akabei
Name[sv]=Akabei-gränssnitt
Name[uk]=Модуль Akabei
Name[x-test]=xxAkabei Backendxx
GenericName=Chakra Support
GenericName[ca]=Implementació a Chakra
GenericName[cs]=Podpora Chakra
GenericName[es]=Implementación de Chakra
GenericName[nl]=Ondersteuning van Chakra
GenericName[pt]=Suporte para o Chakra
GenericName[pt_BR]=Suporte para o Chakra
GenericName[sl]=Podpora Chakri
GenericName[sv]=Stöd för Chakra
GenericName[uk]=Підтримка Chakra
GenericName[x-test]=xxChakra Supportxx
X-KDE-Library=muon-akabeibackend
X-KDE-PluginInfo-Name=muon-akabei-backend
X-KDE-PluginInfo-License=GPL
