[Desktop Entry]
Name=Application dashboard
Name[bs]=Aplikacijska kontrolna ploča
Name[ca]=Tauler d'aplicacions
Name[cs]=Pracovní plocha aplikace
Name[da]=Programinstrumentbræt
Name[de]=Anwendungsübersicht
Name[es]=Tablero de mandos de la aplicación
Name[fi]=Sovelluskojelauta
Name[fr]=Tableau de bord des applications
Name[it]=Quadro delle applicazioni
Name[kk]=Қолданбаның аспаптар панелі
Name[nl]=Dashboard van toepassing
Name[pt]=Painel da aplicação
Name[pt_BR]=Painel de aplicativos
Name[ru]=Панель приложений
Name[sk]=Aplikačná prístrojová doska
Name[sl]=Nadzorna plošča s programi
Name[sr]=Инструмент-табла програма
Name[sr@ijekavian]=Инструмент-табла програма
Name[sr@ijekavianlatin]=Instrument-tabla programa
Name[sr@latin]=Instrument-tabla programa
Name[sv]=Instrumentpanel för program
Name[tr]=Uygulama paneli
Name[uk]=Панель приладів програм
Name[x-test]=xxApplication dashboardxx
Name[zh_TW]=應用程式資訊看板
Comment=Intended as Application dashboard default
Comment[bs]=Planirano kao podrazumijevana aplikacijska kontrolna ploča
Comment[ca]=Proposat com a tauler d'aplicacions per defecte
Comment[cs]=Zamýšleno jako výchozí pracovní plocha aplikace
Comment[da]=Tiltænkt som standard for programinstrumentbræt
Comment[de]=Als Voreinstellung für Anwendungsübersicht angedacht
Comment[es]=Pensado como tablero de mandos por omisión de la aplicación
Comment[fi]=Tarkoitettu oletussovelluskojelaudaksi
Comment[fr]=Prévu comme tableau de bord par défaut des applications
Comment[it]=Inteso come quadro delle applicazioni predefinito
Comment[kk]=Қолданбаның аспаптар панелі болуға бағытталған
Comment[nl]=Bedoeld als standaard dashboard van toepassing
Comment[pt]=Pretendido como predefinição do painel da aplicação
Comment[pt_BR]=Pretende ser o painel de aplicativos padrão
Comment[ru]=Панель приложений по умолчанию
Comment[sk]=Určené ako predvolená prístrojová doska aplikácie
Comment[sl]=Namenjena kot privzeta za nadzorno ploščo s programi
Comment[sr]=Замишљена као подразумевана инструмент-табла програма
Comment[sr@ijekavian]=Замишљена као подразумевана инструмент-табла програма
Comment[sr@ijekavianlatin]=Zamišljena kao podrazumevana instrument-tabla programa
Comment[sr@latin]=Zamišljena kao podrazumevana instrument-tabla programa
Comment[sv]=Avsett som förvald instrumentpanel för program
Comment[tr]=Uygulama paneli varsayılanı olarak amaçlandı
Comment[uk]=Призначено бути типовою панеллю приладів програм
Comment[x-test]=xxIntended as Application dashboard defaultxx
Comment[zh_TW]=做為應用程式資訊看板預設值

NoDisplay=true

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=muon-contenttheme
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
UseNativeWidgetStyle=true
FallbackTheme=appdashboard
