[Desktop Entry]
Type=Service
Exec=blubb
Icon=kalarm
Name=Snappy Backend
Comment=Support snap packaging system, snapd frontend
X-KDE-Library=snap-backend
X-KDE-PluginInfo-Name=snap-backend
X-KDE-PluginInfo-License=GPL
