[Desktop Entry]
Type=Service
Exec=blubb
Icon=kalarm
Name=Snappy Backend
Name[nl]=Backend van Snappy
Name[pt]=Infra-Estrutura do Snappy
Name[sv]=Snappy-gränssnitt
Name[uk]=Модуль Snappy
Name[x-test]=xxSnappy Backendxx
Comment=Support snap packaging system, snapd frontend
Comment[nl]=Het snap pakketsysteem ondersteunen, snapd frontend
Comment[pt]=Suporte ao sistema de pacotes Snap, interface para o 'snapd'
Comment[sv]=Stöd paketsystemet snap, gränssnitt för snapd
Comment[uk]=Підтримка системи пакування snap, оболонка до snapd
Comment[x-test]=xxSupport snap packaging system, snapd frontendxx
X-KDE-Library=snap-backend
X-KDE-PluginInfo-Name=snap-backend
X-KDE-PluginInfo-License=GPL
