[Desktop Entry]
Type=Service
Exec=blubb
Icon=kalarm
Name=Snappy Backend
Name[ca]=Dorsal de l'Snappy
Name[ca@valencia]=Dorsal de l'Snappy
Name[el]=Σύστημα υποστήριξης Snappy
Name[en_GB]=Snappy Backend
Name[es]=Motor de Snappy
Name[fi]=Snappy-taustajärjestelmä
Name[it]=Motore Snappy
Name[nl]=Backend van Snappy
Name[nn]=Snappy-motor
Name[pa]=ਛਿੱਥਾ ਬੈਕਐਂਡ
Name[pl]=Silnik Snappy
Name[pt]=Infra-Estrutura do Snappy
Name[sk]=Backend Snappy
Name[sl]=Zaledje Snappy
Name[sr]=Позадина за Снапи
Name[sr@ijekavian]=Позадина за Снапи
Name[sr@ijekavianlatin]=Pozadina za Snappy
Name[sr@latin]=Pozadina za Snappy
Name[sv]=Snappy-gränssnitt
Name[uk]=Модуль Snappy
Name[x-test]=xxSnappy Backendxx
Name[zh_TW]=Snappy 後端介面
Comment=Support snap packaging system, snapd frontend
Comment[ca]=Funcionament del sistema d'empaquetatge «snap», frontal del «snapd»
Comment[ca@valencia]=Funcionament del sistema d'empaquetatge «snap», frontal del «snapd»
Comment[el]=Υποστήριξη συστήματος πακέτων snap, περιβάλλοντος snapd
Comment[en_GB]=Support snap packaging system, snapd frontend
Comment[es]=Permite el uso del sistema de empaquetado snap, interfaz para snapd
Comment[fi]=Snap-paketointijärjestelmän ja snapd-käyttöliittymän tuki
Comment[it]=Supporta il sistema di pacchettizzazione snap, motore snapd
Comment[nl]=Het snap pakketsysteem ondersteunen, snapd frontend
Comment[nn]=Støtte for pakkesystemet snap, samt snapd-grensesnitt
Comment[pl]=Obsługa systemu pakietów snap, nakładka snapd
Comment[pt]=Suporte ao sistema de pacotes Snap, interface para o 'snapd'
Comment[sk]=Podpora balíčkovacieho systémy Snappy, frontend snapd
Comment[sl]=Podpora sistemu paketov Snap, začelje za snapd
Comment[sr]=Подршка за пакетарски систем снап, прочеље за snapd
Comment[sr@ijekavian]=Подршка за пакетарски систем снап, прочеље за snapd
Comment[sr@ijekavianlatin]=Podrška za paketarski sistem snap, pročelje za snapd
Comment[sr@latin]=Podrška za paketarski sistem snap, pročelje za snapd
Comment[sv]=Stöd paketsystemet snap, gränssnitt för snapd
Comment[uk]=Підтримка системи пакування snap, оболонка до snapd
Comment[x-test]=xxSupport snap packaging system, snapd frontendxx
Comment[zh_TW]=支援 snap 軟體包系統，snapd 前端
X-KDE-Library=snap-backend
X-KDE-PluginInfo-Name=snap-backend
X-KDE-PluginInfo-License=GPL
