[Desktop Entry]
Name=Muon Notifier
Name[ca]=Notificador del Muon
Name[en_GB]=Muon Notifier
Name[fi]=Muonin ilmoitukset
Name[fr]=Notifieur de Muon
Name[nl]=Muon-melder
Name[pt]=Notificação do Muon
Name[pt_BR]=Notificador do Muon
Name[sk]=Oznamovač Muon
Name[sv]=Muon underrättelse
Name[uk]=Сповіщувач Muon
Name[x-test]=xxMuon Notifierxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=MuonNotifier
X-KDE-FactoryName=MuonNotifier
X-KDE-DBus-ModuleName=MuonNotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
