[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in APT
Comment[fi]=Asenna ja selaa APT:n kautta tarjolla olevia sovelluksia
Comment[fr]=Installer et parcourir des applications dans APT
Comment[nb]=Installer og bla til programmet i APT
Comment[nl]=Installeer en blader door toepassingen in APT
Comment[tr]=Uygulamalara APT içerisinde gözat ve yükle
Comment[uk]=Встановіть і перегляньте встановлені програми у APT
Comment[x-test]=xxInstall and browse applications in APTxx
Name=Applications Backend
Name[fi]=Sovellukset-taustaosa
Name[fr]=Moteur des applications
Name[nb]=Program-bakgrunnsmotor
Name[nl]=Backend van toepassingen
Name[tr]=Uygulama Arkauçları
Name[uk]=Модуль програм
Name[x-test]=xxApplications Backendxx
GenericName=APT Support
GenericName[fi]=APT-tuki
GenericName[fr]=Prise en charge de APT
GenericName[nb]=APT-støtte
GenericName[nl]=APT-ondersteuning
GenericName[tr]=APT Desteği
GenericName[uk]=Підтримка APT
GenericName[x-test]=xxAPT Supportxx
X-KDE-Library=muon-appsbackend
X-KDE-PluginInfo-Name=muon-appsbackend
X-KDE-PluginInfo-License=GPL
