[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in APT
Comment[ca]=Instal·la i mostra aplicacions en l'APT
Comment[cs]=Instalujte a prohlížejte aplikace v APT
Comment[da]=Installér og gennemse programmer i APT
Comment[de]=Anwendungen in APT Installieren und durchsuchen
Comment[es]=Instalar y explorar aplicaciones en APT
Comment[fi]=Asenna ja selaa APT:n kautta tarjolla olevia sovelluksia
Comment[fr]=Installer et parcourir des applications dans APT
Comment[it]=Installa e sfoglia le applicazioni in APT
Comment[kk]=APT-де бағдарламаларды орнату мен шолу
Comment[nb]=Installer og bla til programmet i APT
Comment[nl]=Installeer en blader door toepassingen in APT
Comment[pt]=Instalar e navegar pelas aplicações no APT
Comment[pt_BR]=Instalar e navegar pelos aplicativos no APT
Comment[ru]=Установка и обзор приложений в APT
Comment[sk]=Inštalácia a prehliadanie aplikácií v APT
Comment[sl]=Namesti in brskaj po programih v APT
Comment[sv]=Installera och bläddra bland program med APT
Comment[tr]=Uygulamalara APT içerisinde gözat ve yükle
Comment[uk]=Встановіть і перегляньте встановлені програми у APT
Comment[x-test]=xxInstall and browse applications in APTxx
Comment[zh_TW]=在 APT 中安裝並瀏覽應用程式
Name=Applications Backend
Name[ca]=Dorsal d'aplicacions
Name[cs]=Podpůrná vrstva aplikace
Name[da]=Programmotor
Name[de]=Dienstprogramm für Anwendungen
Name[es]=Motor de aplicaciones
Name[fi]=Sovellukset-taustaosa
Name[fr]=Moteur des applications
Name[it]=Motore applicazioni
Name[kk]=Қолданбалар тетігі
Name[nb]=Program-bakgrunnsmotor
Name[nl]=Backend van toepassingen
Name[pt]=Infra-Estrutura de Aplicações
Name[pt_BR]=Infraestrutura de aplicativos
Name[ru]=Модуль приложений
Name[sk]=Backend aplikácií
Name[sl]=Zaledje programov
Name[sv]=Programgränssnitt
Name[tr]=Uygulama Arkauçları
Name[uk]=Модуль програм
Name[x-test]=xxApplications Backendxx
Name[zh_TW]=應用程式後端介面
GenericName=APT Support
GenericName[ca]=Implementació de l'APT
GenericName[cs]=Podpora APT
GenericName[da]=APT-understøttelse
GenericName[de]=Unterstützung für APT
GenericName[es]=Implementación de APT
GenericName[fi]=APT-tuki
GenericName[fr]=Prise en charge de APT
GenericName[it]=Supporto APT
GenericName[kk]=APT қолдауы
GenericName[nb]=APT-støtte
GenericName[nl]=APT-ondersteuning
GenericName[pt]=Suporte para o APT
GenericName[pt_BR]=Suporte ao APT
GenericName[ru]=Поддержка APT
GenericName[sk]=Podpora APT
GenericName[sl]=Podpora APT
GenericName[sv]=APT-stöd
GenericName[tr]=APT Desteği
GenericName[uk]=Підтримка APT
GenericName[x-test]=xxAPT Supportxx
GenericName[zh_TW]=APT 支援
X-KDE-Library=muon-appsbackend
X-KDE-PluginInfo-Name=muon-appsbackend
X-KDE-PluginInfo-License=GPL
