[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in APT
Comment[tr]=Uygulamalara APT içerisinde gözat ve yükle
Name=Applications Backend
Name[tr]=Uygulama Arkauçları
GenericName=APT Support
GenericName[tr]=APT Desteği
X-KDE-Library=muon-appsbackend
X-KDE-PluginInfo-Name=muon-appsbackend
X-KDE-PluginInfo-License=GPL
