[Desktop Entry]
Name=Muon Application Notifier
Name[cs]=Oznamování aplikace Muon
Name[da]=Bekendtgørelser fra programmet Muon
Name[nl]=Muon melder van toepassingen
Name[pt]=Notificação de Aplicações do Muon
Name[pt_BR]=Notificador de Aplicativos do Muon
Name[sk]=Oznamovač aplikácií Muon
Name[sl]=Obvestilnik za programe Muon
Name[sr]=Муонов извештавач о програмима
Name[sr@ijekavian]=Муонов извјештавач о програмима
Name[sr@ijekavianlatin]=Muonov izvještavač o programima
Name[sr@latin]=Muonov izveštavač o programima
Name[sv]=Muon programunderrättelse
Name[uk]=Сповіщувач програми Muon
Name[x-test]=xxMuon Application Notifierxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muonapplicationnotifier
X-KDE-FactoryName=muonapplicationnotifier
X-KDE-DBus-ModuleName=muonapplicationnotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
