[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Wrong
Name[ca]=Erroni
Name[cs]=Špatně
Name[da]=Forkert
Name[de]=Falsch
Name[el]=Λάθος
Name[en_GB]=Wrong
Name[es]=Incorrecto
Name[fi]=Väärä
Name[fr]=Incorrect
Name[gl]=Incorrecto
Name[hu]=Hibás
Name[id]=Salah
Name[it]=Errato
Name[ko]=잘못됨
Name[lt]=Klaidingai
Name[nb]=Feil
Name[nl]=Verkeerd
Name[pl]=Niepoprawny
Name[pt]=Errado
Name[pt_BR]=Errado
Name[ru]=Неверно
Name[sk]=Zlé
Name[sl]=Wrong
Name[sr]=Погрешно
Name[sr@ijekavian]=Погрешно
Name[sr@ijekavianlatin]=Pogrešno
Name[sr@latin]=Pogrešno
Name[sv]=Felaktig
Name[tr]=Hatalı
Name[uk]=Помилка
Name[x-test]=xxWrongxx
Name[zh_CN]=错误
Name[zh_TW]=錯誤

X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knswrong-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=wrong.knsrc
