[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Correct
Name[ca]=Correcte
Name[en_GB]=Correct
Name[nl]=Juist
Name[pt_BR]=Certo
Name[sv]=Riktig
Name[x-test]=xxCorrectxx

X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knscorrect-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=testplasmoids.knsrc
