[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Correct
Name[ca]=Correcte
Name[cs]=Správně
Name[de]=Richtig
Name[en_GB]=Correct
Name[fi]=Oikea
Name[fr]=Correct
Name[gl]=Correcto
Name[hu]=Helyes
Name[nl]=Juist
Name[pt]=Correcto
Name[pt_BR]=Certo
Name[sk]=Správne
Name[sl]=Popravi
Name[sr]=Тачно
Name[sr@ijekavian]=Тачно
Name[sr@ijekavianlatin]=Tačno
Name[sr@latin]=Tačno
Name[sv]=Riktig
Name[uk]=Правильно
Name[x-test]=xxCorrectxx

X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knscorrect-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=testplasmoids.knsrc
