[Desktop Entry]
Type=Service
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in PackageKit
Comment[ar]=ثبّت التّطبيقات في PackageKit وتصفّحها
Comment[ca]=Instal·la i mostra aplicacions en el PackageKit
Comment[ca@valencia]=Instal·la i mostra aplicacions en el PackageKit
Comment[cs]=Instalujte a prohlížejte aplikace v PackageKit
Comment[da]=Installér og gennemse programmer i PackageKit
Comment[de]=Anwendungen in PackageKit installieren und durchsuchen
Comment[el]=Εγκαταστήστε και περιηγηθείτε σε εφαρμογές στο PackageKit
Comment[en_GB]=Install and browse applications in PackageKit
Comment[es]=Instalar y explorar aplicaciones en PackageKit
Comment[et]=Rakenduste paigaldamine ja sirvimine PackageKitis
Comment[fi]=Asenna ja selaa PackageKitin välityksellä tarjolla olevia sovelluksia
Comment[fr]=Installer et parcourir des applications dans PackageKit
Comment[gl]=Instalar e buscar aplicacións en PackageKit
Comment[it]=Installa e sfoglia le applicazioni in PackageKit
Comment[ko]=PackageKit에서 프로그램을 찾고 설치하기
Comment[nb]=Installer og bla i programmer i Packagekit
Comment[nl]=Installeer en blader door toepassingen in PackageKit
Comment[nn]=Installer og bla i program i PackageKit
Comment[pl]=Wgrywaj i przeglądaj przeglądaj programy w PackageKit
Comment[pt]=Instalar e navegar nas aplicações do PackageKit
Comment[pt_BR]=Instala e navega pelos aplicativos no PackageKit
Comment[ru]=Установка и обзор приложений в PackageKit
Comment[sk]=Inštalácia a prehliadanie aplikácií v PackageKit
Comment[sl]=Namestite in brskajte po programih v PackageKit
Comment[sr]=Инсталирајте и прегледајте програме из Пакиџ‑кита
Comment[sr@ijekavian]=Инсталирајте и прегледајте програме из Пакиџ‑кита
Comment[sr@ijekavianlatin]=Instalirajte i pregledajte programe iz PackageKita
Comment[sr@latin]=Instalirajte i pregledajte programe iz PackageKita
Comment[sv]=Installera och bläddra bland program med PackageKit
Comment[uk]=Встановіть і перегляньте встановлені програми у PackageKit
Comment[x-test]=xxInstall and browse applications in PackageKitxx
Comment[zh_CN]=安装浏览 PackageKit 中的程序
Name=PackageKit Support
Name[ar]=دعم PackageKit
Name[ca]=Implementació del PackageKit
Name[ca@valencia]=Implementació del PackageKit
Name[cs]=Podpora PackageKit
Name[da]=PackageKit-understøttelse
Name[de]=Unterstützung für PackageKit
Name[el]=Υποστήριξη PackageKit
Name[en_GB]=PackageKit Support
Name[es]=Uso de PackageKit
Name[et]=PackageKiti toetus
Name[fi]=PackageKit-tuki
Name[fr]=Prise en charge de PackageKit
Name[gl]=Compatibilidade con PackageKit
Name[it]=Supporto PackageKit
Name[ko]=PackageKit 지원
Name[nb]=PackageKit-støtte
Name[nl]=Ondersteuning van PackageKit
Name[nn]=PackageKit-støtte
Name[pl]=Obsługa PackageKit
Name[pt]=Suporte para o PackageKit
Name[pt_BR]=Suporte para o PackageKit
Name[ru]=Поддержка PackageKit
Name[sk]=Podpora PackageKit
Name[sl]=Podpora PackageKit
Name[sr]=Подршка за Пакиџ‑кит
Name[sr@ijekavian]=Подршка за Пакиџ‑кит
Name[sr@ijekavianlatin]=Podrška za PackageKit
Name[sr@latin]=Podrška za PackageKit
Name[sv]=Stöd för PackageKit
Name[uk]=Підтримка PackageKit
Name[x-test]=xxPackageKit Supportxx
Name[zh_CN]=PackageKit 支持
GenericName=Applications Backend
GenericName[ar]=سند التّطبيقات
GenericName[ca]=Dorsal d'aplicacions
GenericName[ca@valencia]=Dorsal d'aplicacions
GenericName[cs]=Podpůrná vrstva aplikace
GenericName[da]=Program-backend
GenericName[de]=Dienstprogramm für Anwendungen
GenericName[el]=Σύστημα υποστήριξης εφαρμογών
GenericName[en_GB]=Applications Backend
GenericName[es]=Motor de aplicaciones
GenericName[et]=Rakenduse taustaprogramm
GenericName[fi]=Sovellukset-taustajärjestelmä
GenericName[fr]=Moteur des applications
GenericName[gl]=Infraestrutura de programas
GenericName[it]=Motore applicazioni
GenericName[ko]=프로그램 백엔드
GenericName[nb]=Program-bakgrunnsmotor
GenericName[nl]=Backend van toepassing
GenericName[nn]=Program-bakgrunnsmotor
GenericName[pl]=Silnik programów
GenericName[pt]=Infra-Estrutura de Aplicações
GenericName[pt_BR]=Infraestrutura de aplicativos
GenericName[ru]=Модуль приложений
GenericName[sk]=Backend aplikácií
GenericName[sl]=Zaledje programov
GenericName[sr]=Позадина за програме
GenericName[sr@ijekavian]=Позадина за програме
GenericName[sr@ijekavianlatin]=Pozadina za programe
GenericName[sr@latin]=Pozadina za programe
GenericName[sv]=Programgränssnitt
GenericName[uk]=Модуль програм
GenericName[x-test]=xxApplications Backendxx
GenericName[zh_CN]=应用程序后端
X-KDE-Library=packagekit-backend
X-KDE-PluginInfo-Name=packagekit-backend
X-KDE-PluginInfo-License=GPL
