[Desktop Entry]
Type=Service
Exec=blubb
Icon=preferences-desktop-wallpaper
Name=Bodega Wallpapers
Name[ca]=Fons d'escriptori del Bodega
Name[ca@valencia]=Fons d'escriptori del Bodega
Name[cs]=Tapety Bodega
Name[da]=Bodega-baggrundsbilleder
Name[de]=Bodega-Hintergrundbilder
Name[el]=Ταπετσαρίες Bodega
Name[en_GB]=Bodega Wallpapers
Name[es]=Fondos de pantalla de Bodega
Name[et]=Bodega taustapildid
Name[fi]=Bodega-taustakuvat
Name[fr]=Papiers peints de « Bodega »
Name[gl]=Fondos de escritorio Bodega
Name[it]=Sfondi Bodega
Name[ko]=Bodega 배경 그림
Name[nb]=Bodega tapeter
Name[nl]=Bodega-bureaubladachtergronden
Name[nn]=Bodega-bakgrunnsbilete
Name[pl]=Tapety Bodega
Name[pt]=Papéis de Parede do Bodega
Name[pt_BR]=Papéis de parede do Bodega
Name[sk]=Tapety Bodega
Name[sl]=Slike ozadja Bodega
Name[sr]=Бодегини тапети
Name[sr@ijekavian]=Бодегини тапети
Name[sr@ijekavianlatin]=Bodegini tapeti
Name[sr@latin]=Bodegini tapeti
Name[sv]=Bodega skrivbordsunderlägg
Name[uk]=Шпалери Bodega
Name[x-test]=xxBodega Wallpapersxx
Name[zh_CN]=Bodega 壁纸
GenericName=Wallpapers
GenericName[ar]=الخلفيّات
GenericName[ast]=Fondos de pantalla
GenericName[ca]=Fons d'escriptori
GenericName[ca@valencia]=Fons d'escriptori
GenericName[cs]=Tapety
GenericName[da]=Baggrundsbilleder
GenericName[de]=Hintergrundbilder
GenericName[el]=Ταπετσαρίες
GenericName[en_GB]=Wallpapers
GenericName[es]=Fondos de pantalla
GenericName[et]=Taustapildid
GenericName[fi]=Taustakuvat
GenericName[fr]=Papiers peints
GenericName[gl]=Fondos de escritorio
GenericName[it]=Sfondi
GenericName[ko]=배경 그림
GenericName[nb]=Tapeter
GenericName[nl]=Bureaubladachtergronden
GenericName[nn]=Bakgrunnsbilete
GenericName[pl]=Tapety
GenericName[pt]=Papéis de Parede
GenericName[pt_BR]=Papéis de parede
GenericName[sk]=Tapety
GenericName[sl]=Slike ozadja
GenericName[sr]=Тапети
GenericName[sr@ijekavian]=Тапети
GenericName[sr@ijekavianlatin]=Tapeti
GenericName[sr@latin]=Tapeti
GenericName[sv]=Skrivbordsunderlägg
GenericName[uk]=Шпалери
GenericName[x-test]=xxWallpapersxx
GenericName[zh_CN]=壁纸
Comment=Install new, awesome wallpapers for your KDE!
Comment[ar]=ثبّت خلفيّات جديدة ورائعة لكدي!
Comment[ca]=Instal·leu fons d'escriptori nous i fantàstics pel vostre KDE!
Comment[ca@valencia]=Instal·leu fons d'escriptori nous i fantàstics pel vostre KDE!
Comment[cs]=Nainstalovat nové skvělé tapety pro vaše KDE.
Comment[da]=Installér nye lækre baggrundsbilleder til din KDE!
Comment[de]=Neue fantastische Hintergrundbilder für Ihr KDE-System installieren.
Comment[el]=Εγκαταστήστε νέες, εκπληκτικές ταπετσαρίες για το δικό σας KDE!
Comment[en_GB]=Install new, awesome wallpapers for your KDE!
Comment[es]=Instalar fondos de escritorio nuevos y fantásticos para KDE
Comment[et]=KDE uue vaimustava taustapildi paigaldamine
Comment[fi]=Asenna uusia ja mahtavia taustakuvia KDE:hesi!
Comment[fr]=Installez de nouveaux et magnifiques papiers peints pour votre environnement KDE !
Comment[gl]=Instalar novos e xeniais fondos de escritorio para a túa KDE!
Comment[it]=Installa nuovi, strabilianti sfondi per il tuo KDE!
Comment[ko]=KDE에 새로운 배경 그림을 설치하십시오!
Comment[nb]=Installer nye, praktfulle tapeter for din KDE!
Comment[nl]=Installeer nieuwe, geweldige bureaubladachtergronden voor uw KDE!
Comment[nn]=Installer nye, praktfulle bakgrunnsbilete for KDE!
Comment[pl]=Pobierz nowe, wspaniałe tapety dla twojego KDE!
Comment[pt]=Instale novos papéis de parede giros no seu KDE!
Comment[pt_BR]=Instalar papéis de parede novos e incríveis para o seu KDE!
Comment[sk]=Nainštalujte nové, úžasné tapety pre vaše KDE!
Comment[sl]=Namestite nova, čudovita ozadja namizja za vaš KDE!
Comment[sr]=Инсталирајте нове, фантастичне тапете
Comment[sr@ijekavian]=Инсталирајте нове, фантастичне тапете
Comment[sr@ijekavianlatin]=Instalirajte nove, fantastične tapete
Comment[sr@latin]=Instalirajte nove, fantastične tapete
Comment[sv]=Installera nya fantastiska skrivbordsunderlägg för KDE.
Comment[uk]=Встановіть нові чудові шпалери для вашого KDE!
Comment[x-test]=xxInstall new, awesome wallpapers for your KDE!xx
Comment[zh_CN]=为您的 KDE 安装崭新壁纸！
X-KDE-Library=muon-bodegabackend
X-KDE-PluginInfo-Name=muon-bodegawallpapers-backend
X-KDE-PluginInfo-License=GPL

#channel name
X-Muon-Arguments=http://addons.makeplaylive.com:3000/?channel=Wallpapers&credentials=MakePlayLive&storeId=VIVALDI-1
