[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Plasmoids
Name[fi]=Plasmoidit
Name[fr]=Composants graphiques
Name[nb]=Plasmoider
Name[nl]=Plasmoids
Name[tr]=Plasmoid'ler
Name[uk]=Плазмоїди
Name[x-test]=xxPlasmoidsxx
GenericName=Plasmoids
GenericName[fi]=Plasmoidit
GenericName[fr]=Composants graphiques
GenericName[nb]=Plasmoider
GenericName[nl]=Plasmoids
GenericName[tr]=Plasmoid'ler
GenericName[uk]=Плазмоїди
GenericName[x-test]=xxPlasmoidsxx
Comment=Install plasmoids and raise the power of your workspace!
Comment[fi]=Asenna plasmoideja ja lisää työtilasi tehoa!
Comment[fr]=Installez des composants graphiques et mettez au premier plan la puissance de votre espace de travail !
Comment[nb]=Installer plasmoider og øk kraften i din arbeidsflate!
Comment[nl]=Installeer plasmoids en verhoog de kracht van uw werkruimte!
Comment[tr]=Plasmoid'ler yükleyerek çalışma alanınızın gücünü arttırın!
Comment[uk]=Встановіть плазмоїди і зробіть ваш робочий простір потужнішим!
Comment[x-test]=xxInstall plasmoids and raise the power of your workspace!xx
X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knsbackend-plasmoids
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=plasmoids.knsrc
