[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Plasmoids
Name[cs]=Plasmoidy
Name[es]=Plasmoides
Name[nl]=Plasmoids
Name[pt]=Plasmóides
Name[pt_BR]=Plasmoides
Name[sv]=Plasmoider
Name[uk]=Плазмоїди
Name[x-test]=xxPlasmoidsxx
GenericName=Plasmoids
GenericName[cs]=Plasmoidy
GenericName[es]=Plasmoides
GenericName[nl]=Plasmoids
GenericName[pt]=Plasmóides
GenericName[pt_BR]=Plasmoides
GenericName[sv]=Plasmoider
GenericName[uk]=Плазмоїди
GenericName[x-test]=xxPlasmoidsxx
Comment=Install plasmoids and raise the power of your workspace!
Comment[es]=¡Instale plasmoides y aumente la potencia de su área de trabajo!
Comment[nl]=Installeer plasmoids en verhoog de kracht van uw werkruimte!
Comment[pt]=Instalar plasmóides e elevar as potencialidades da sua área de trabalho!
Comment[pt_BR]=Instale plasmoides e aumente o poder do seu espaço de trabalho!
Comment[sv]=Installera Plasmoider och öka arbetsytans möjligheter.
Comment[uk]=Встановіть плазмоїди і зробіть ваш робочий простір потужнішим!
Comment[x-test]=xxInstall plasmoids and raise the power of your workspace!xx

X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knsplasmoids-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=plasmoids.knsrc
