[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=face-smile-big
Name=Comics
Name[ca]=Còmics
Name[en_GB]=Comics
Name[nl]=Stripverhalen
Name[pt_BR]=Tirinhas
Name[sv]=Serier
Name[x-test]=xxComicsxx
GenericName=Comics
GenericName[ca]=Còmics
GenericName[en_GB]=Comics
GenericName[nl]=Stripverhalen
GenericName[pt_BR]=Tirinhas
GenericName[sv]=Serier
GenericName[x-test]=xxComicsxx
Comment=Install comic stripes to be used from the comics plasmoid
Comment[ca]=Instal·la tires còmiques per utilitzar des del plasmoide de còmics
Comment[en_GB]=Install comic stripes to be used from the comics plasmoid
Comment[nl]=Installeer stripverhalen om te worden gebruikt vanaf de plasmoid voor stripverhalen
Comment[pt_BR]=Instalar as tirinhas para serem usadas no plasmoide de tirinhas
Comment[sv]=Installera serier att använda med serie-plasmoiden
Comment[x-test]=xxInstall comic stripes to be used from the comics plasmoidxx

X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knscomics-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=comic.knsrc
