[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=face-smile-big
Name=Comics
Name[ca]=Còmics
Name[cs]=Komiksy
Name[de]=Comics
Name[es]=Cómics
Name[fi]=Sarjakuvat
Name[fr]=Bandes dessinées
Name[kk]=Комикс
Name[nb]=Tegneserier
Name[nl]=Stripverhalen
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinhas
Name[sk]=Komikx
Name[sl]=Stripi
Name[sv]=Serier
Name[tr]=Çizgi Romanlar
Name[uk]=Комікси
Name[x-test]=xxComicsxx
Name[zh_TW]=漫畫
GenericName=Comics
GenericName[ca]=Còmics
GenericName[cs]=Komiksy
GenericName[de]=Comics
GenericName[es]=Cómics
GenericName[fi]=Sarjakuvat
GenericName[fr]=Bandes dessinées
GenericName[kk]=Комикс
GenericName[nb]=Tegneserier
GenericName[nl]=Stripverhalen
GenericName[pt]=Banda Desenhada
GenericName[pt_BR]=Tirinhas
GenericName[sk]=Komikx
GenericName[sl]=Stripi
GenericName[sv]=Serier
GenericName[tr]=Çizgi Romanlar
GenericName[uk]=Комікси
GenericName[x-test]=xxComicsxx
GenericName[zh_TW]=漫畫
Comment=Install comic stripes to be used from the comics plasmoid
Comment[ca]=Instal·la tires còmiques per utilitzar des del plasmoide de còmics
Comment[de]=Installation von Comics, die vom gleichnamigen Plasmoid benutzt werden
Comment[es]=Instalar tiras de cómic para usar en el plasmoide de cómics
Comment[fi]=Asenna sarjakuvaplasmoidin käyttämiä sarjakuvastrippejä
Comment[fr]=Installez des bandes dessinées à utiliser depuis le composant graphique « Bandes dessinées »
Comment[kk]=Комикс плазмоидтер қолданатын комикстерді орнату
Comment[nb]=Installer tegneserier som skal brukes fra comics-plasmoiden
Comment[nl]=Installeer stripverhalen om te worden gebruikt vanaf de plasmoid voor stripverhalen
Comment[pt]=Instalar as bandas desenhadas a usar no plasmóide de bandas desenhadas
Comment[pt_BR]=Instalar as tirinhas para serem usadas no plasmoide de tirinhas
Comment[sk]=Nainštalujte komiksové pruhy na použitie pre komiksový plazmoid
Comment[sl]=Namestite stripe, ki jih lahko uporabite z vašim plasmoidom za stripe
Comment[sv]=Installera serier att använda med serie-plasmoiden
Comment[tr]=Çizgi Romanları plasmoid'inde kullanılmak üzere çizgi roman şeritleri indirin
Comment[uk]=Встановіть стрічки коміксів, які буде використано у плазмоїді коміксів
Comment[x-test]=xxInstall comic stripes to be used from the comics plasmoidxx
Comment[zh_TW]=安裝讓漫畫元件使用的漫畫
X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knsbackend-comics
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=comic.knsrc
