[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=plasma
Name=Plasmoids
Name[cs]=Plasmoidy
Name[da]=Plasmoids
Name[et]=Plasmoidid
Name[hu]=Plazmoidok
Name[nl]=Plasmoids
Name[pt]=Plasmóides
Name[pt_BR]=Plasmoides
Name[sk]=Plazmoidy
Name[uk]=Плазмоїди
Name[x-test]=xxPlasmoidsxx
GenericName=Plasmoids
GenericName[cs]=Plasmoidy
GenericName[da]=Plasmoids
GenericName[et]=Plasmoidid
GenericName[hu]=Plazmoidok
GenericName[nl]=Plasmoids
GenericName[pt]=Plasmóides
GenericName[pt_BR]=Plasmoides
GenericName[sk]=Plazmoidy
GenericName[uk]=Плазмоїди
GenericName[x-test]=xxPlasmoidsxx
Comment=Install plasmoids and raise the power of your workspace!
Comment[da]=Installér plasmoids og gør dit skrivebord endnu stærkere!
Comment[et]=Plasmoidide paigaldamine ja töölauale võlu juurde andmine
Comment[hu]=Telepítsen plazmoidokat, hogy a legtöbbet hozhassa ki asztali környezetéből!
Comment[nl]=Installeer plasmoids en verhoog de kracht van uw werkruimte!
Comment[pt]=Instalar plasmóides e elevar as potencialidades da sua área de trabalho!
Comment[pt_BR]=Instale plasmoides e aumente o poder do seu espaço de trabalho!
Comment[sk]=Nainštalovať plazmoidy a zvýšiť silu vašej pracovnej plochy!
Comment[uk]=Встановіть плазмоїди і зробіть ваш робочий простір потужнішим!
Comment[x-test]=xxInstall plasmoids and raise the power of your workspace!xx
X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knsbackend-plasmoids
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=plasmoids.knsrc
