[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=face-smile-big
Name=Comics
Name[tr]=Çizgi Romanlar
GenericName=Comics
GenericName[tr]=Çizgi Romanlar
Comment=Install comic stripes to be used from the comics plasmoid
Comment[tr]=Çizgi Romanları plasmoid'inde kullanılmak üzere çizgi roman şeritleri indirin
X-KDE-Library=muon-knsbackend
X-KDE-PluginInfo-Name=muon-knsbackend-comics
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=comic.knsrc
