[Desktop Entry]
Type=Service
Icon=face-smile-big
Name=Comics
Name[ar]=هزليّات
Name[ast]=Cómics
Name[ca]=Còmics
Name[ca@valencia]=Còmics
Name[cs]=Komiksy
Name[da]=Tegneserier
Name[de]=Comics
Name[el]=Κόμικς
Name[en_GB]=Comics
Name[es]=Cómics
Name[et]=Koomiksid
Name[fi]=Sarjakuvat
Name[fr]=Bandes dessinées
Name[gl]=Cómics
Name[it]=Fumetti
Name[ko]=만화
Name[nb]=Tegneserier
Name[nl]=Stripverhalen
Name[nn]=Teikneseriar
Name[pl]=Komiksy
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinhas
Name[sk]=Komikx
Name[sl]=Stripi
Name[sr]=Стрипови
Name[sr@ijekavian]=Стрипови
Name[sr@ijekavianlatin]=Stripovi
Name[sr@latin]=Stripovi
Name[sv]=Serier
Name[uk]=Комікси
Name[x-test]=xxComicsxx
Name[zh_CN]=连环画
X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscomic-backend
X-Muon-Arguments=comic.knsrc
