[Desktop Entry]
Type=Service
Exec=blubb
Icon=face-smile-big
Name=Comics
Name[ca]=Còmics
Name[ca@valencia]=Còmics
Name[cs]=Komiksy
Name[da]=Tegneserier
Name[de]=Comics
Name[el]=Κόμικς
Name[en_GB]=Comics
Name[es]=Cómics
Name[et]=Koomiksid
Name[fi]=Sarjakuvat
Name[fr]=Bandes dessinées
Name[gl]=Cómics
Name[it]=Fumetti
Name[ko]=만화
Name[nb]=Tegneserier
Name[nl]=Stripverhalen
Name[nn]=Teikneseriar
Name[pl]=Komiksy
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinhas
Name[sk]=Komikx
Name[sl]=Stripi
Name[sr]=Стрипови
Name[sr@ijekavian]=Стрипови
Name[sr@ijekavianlatin]=Stripovi
Name[sr@latin]=Stripovi
Name[sv]=Serier
Name[uk]=Комікси
Name[x-test]=xxComicsxx
Name[zh_CN]=连环画
Name[zh_TW]=漫畫
GenericName=Comics
GenericName[ca]=Còmics
GenericName[ca@valencia]=Còmics
GenericName[cs]=Komiksy
GenericName[da]=Tegneserier
GenericName[de]=Comics
GenericName[el]=Κόμικς
GenericName[en_GB]=Comics
GenericName[es]=Cómics
GenericName[et]=Koomiksid
GenericName[fi]=Sarjakuvat
GenericName[fr]=Bandes dessinées
GenericName[gl]=Cómics
GenericName[it]=Fumetti
GenericName[ko]=만화
GenericName[nb]=Tegneserier
GenericName[nl]=Stripverhalen
GenericName[nn]=Teikneseriar
GenericName[pl]=Komiksy
GenericName[pt]=Banda Desenhada
GenericName[pt_BR]=Tirinhas
GenericName[sk]=Komikx
GenericName[sl]=Stripi
GenericName[sr]=Стрипови
GenericName[sr@ijekavian]=Стрипови
GenericName[sr@ijekavianlatin]=Stripovi
GenericName[sr@latin]=Stripovi
GenericName[sv]=Serier
GenericName[uk]=Комікси
GenericName[x-test]=xxComicsxx
GenericName[zh_CN]=连环画
GenericName[zh_TW]=漫畫
Comment=Install comic stripes to be used from the comics plasmoid
Comment[ca]=Instal·la tires còmiques per utilitzar des del plasmoide de còmics
Comment[ca@valencia]=Instal·la tires còmiques per utilitzar des del plasmoide de còmics
Comment[da]=Installér tegneseriestriber til brug med comics-plasmoiden
Comment[de]=Comics installieren, die vom gleichnamigen Plasmoid benutzt werden
Comment[el]=Εγκαταστήστε κόμικς για χρήση από το πλασμοειδές των κόμικς
Comment[en_GB]=Install comic stripes to be used from the comics plasmoid
Comment[es]=Instalar tiras de cómics para usar en el plasmoide de cómics
Comment[et]=Koomiksite paigaldamine koomiksite plasmoidi tarbeks
Comment[fi]=Asenna sarjakuvaplasmoidin käyttämiä sarjakuvastrippejä
Comment[fr]=Installez des bandes dessinées à utiliser depuis le composant graphique « Bandes dessinées »
Comment[gl]=Instalar as tiras de cómics para usar no plasmoid de cómic
Comment[it]=Installa strisce di fumetti da usare col plasmoide dei fumetti
Comment[ko]=만화 Plasmoid에서 사용하는 만화 데이터 설치
Comment[nb]=Installer tegneserier som skal brukes fra comics-plasmoiden
Comment[nl]=Installeer stripverhalen om te worden gebruikt vanaf de plasmoid voor stripverhalen
Comment[nn]=Installer teikneseriar for bruk i teikneserie-skjermeelementet
Comment[pl]=Pobieraj komiksy, a następnie przeglądaj je w plazmoidzie komiksów
Comment[pt]=Instala configurações de banda desenhada a usar no plasmóide de banda desenhada
Comment[pt_BR]=Instalar as tirinhas para serem usadas no plasmoide de tirinhas
Comment[sk]=Nainštalujte komiksové pruhy na použitie pre komiksový plazmoid
Comment[sl]=Namestite stripe, ki jih lahko uporabite z vašim plasmoidom za stripe
Comment[sr]=Инсталирајте стрипове за читање кроз плазмоид стрипова
Comment[sr@ijekavian]=Инсталирајте стрипове за читање кроз плазмоид стрипова
Comment[sr@ijekavianlatin]=Instalirajte stripove za čitanje kroz plazmoid stripova
Comment[sr@latin]=Instalirajte stripove za čitanje kroz plazmoid stripova
Comment[sv]=Installera serier att använda med serie-plasmoiden
Comment[uk]=Встановіть стрічки коміксів, які буде використано у плазмоїді коміксів
Comment[x-test]=xxInstall comic stripes to be used from the comics plasmoidxx
Comment[zh_CN]=安装连环画来在连环画部件中使用
Comment[zh_TW]=安裝漫畫給漫畫小元件

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscomics-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=comic.knsrc
