[Desktop Entry]
Type=Service
Exec=blubb
Icon=face-smile-big
Name=Comics
Name[ca]=Còmics
Name[en_GB]=Comics
Name[fi]=Sarjakuvat
Name[fr]=Bandes dessinées
Name[ko]=만화
Name[nl]=Stripverhalen
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinhas
Name[sk]=Komikx
Name[sv]=Serier
Name[uk]=Комікси
Name[x-test]=xxComicsxx
GenericName=Comics
GenericName[ca]=Còmics
GenericName[en_GB]=Comics
GenericName[fi]=Sarjakuvat
GenericName[fr]=Bandes dessinées
GenericName[ko]=만화
GenericName[nl]=Stripverhalen
GenericName[pt]=Banda Desenhada
GenericName[pt_BR]=Tirinhas
GenericName[sk]=Komikx
GenericName[sv]=Serier
GenericName[uk]=Комікси
GenericName[x-test]=xxComicsxx
Comment=Install comic stripes to be used from the comics plasmoid
Comment[ca]=Instal·la tires còmiques per utilitzar des del plasmoide de còmics
Comment[en_GB]=Install comic stripes to be used from the comics plasmoid
Comment[fi]=Asenna sarjakuvaplasmoidin käyttämiä sarjakuvastrippejä
Comment[fr]=Installez des bandes dessinées à utiliser depuis le composant graphique « Bandes dessinées »
Comment[ko]=만화 Plasmoid에서 사용하는 만화 데이터 설치
Comment[nl]=Installeer stripverhalen om te worden gebruikt vanaf de plasmoid voor stripverhalen
Comment[pt]=Instala configurações de banda desenhada a usar no plasmóide de banda desenhada
Comment[pt_BR]=Instalar as tirinhas para serem usadas no plasmoide de tirinhas
Comment[sk]=Nainštalujte komiksové pruhy na použitie pre komiksový plazmoid
Comment[sv]=Installera serier att använda med serie-plasmoiden
Comment[uk]=Встановіть стрічки коміксів, які буде використано у плазмоїді коміксів
Comment[x-test]=xxInstall comic stripes to be used from the comics plasmoidxx

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscomics-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=comic.knsrc
