[Desktop Entry]
Type=Service
Icon=face-smile-big
Name=Comics
X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knscomics-backend
X-Muon-Arguments=comic.knsrc
