[Desktop Entry]
Type=Service
Exec=blubb
Icon=plasma
Name=Plasmoids
Name[ca]=Plasmoides
Name[ca@valencia]=Plasmoides
Name[el]=Πλασμοειδή
Name[en_GB]=Plasmoids
Name[fi]=Plasmoidit
Name[fr]=Composants graphiques
Name[gl]=Plasmoides
Name[ko]=Plasmoid
Name[nb]=Plasmoider
Name[nl]=Plasmoids
Name[nn]=Skjermelement
Name[pl]=Plazmoidy
Name[pt]=Plasmóides
Name[pt_BR]=Plasmoides
Name[sk]=Plazmoidy
Name[sl]=Plasmoidi
Name[sr]=Плазмоиди
Name[sr@ijekavian]=Плазмоиди
Name[sr@ijekavianlatin]=Plazmoidi
Name[sr@latin]=Plazmoidi
Name[sv]=Plasmoider
Name[uk]=Плазмоїди
Name[x-test]=xxPlasmoidsxx
GenericName=Plasmoids
GenericName[ca]=Plasmoides
GenericName[ca@valencia]=Plasmoides
GenericName[el]=Πλασμοειδή
GenericName[en_GB]=Plasmoids
GenericName[fi]=Plasmoidit
GenericName[fr]=Composants graphiques
GenericName[gl]=Plasmoides
GenericName[ko]=Plasmoid
GenericName[nb]=Plasmoider
GenericName[nl]=Plasmoids
GenericName[nn]=Skjermelement
GenericName[pl]=Plazmoidy
GenericName[pt]=Plasmóides
GenericName[pt_BR]=Plasmoides
GenericName[sk]=Plazmoidy
GenericName[sl]=Plasmoidi
GenericName[sr]=Плазмоиди
GenericName[sr@ijekavian]=Плазмоиди
GenericName[sr@ijekavianlatin]=Plazmoidi
GenericName[sr@latin]=Plazmoidi
GenericName[sv]=Plasmoider
GenericName[uk]=Плазмоїди
GenericName[x-test]=xxPlasmoidsxx
Comment=Install plasmoids and raise the power of your workspace!
Comment[ca]=Instal·leu plasmoides i augmenteu la potència de l'espai de treball!
Comment[ca@valencia]=Instal·leu plasmoides i augmenteu la potència de l'espai de treball!
Comment[el]=Εγκαταστήστε πλασμοειδή και αυξήστε τη δύναμη του χώρου εργασίας σας!
Comment[en_GB]=Install plasmoids and raise the power of your workspace!
Comment[fi]=Asenna plasmoideja ja lisää työtilasi tehoa!
Comment[fr]=Installez des composants graphiques et mettez au premier plan la puissance de votre espace de travail !
Comment[gl]=Instala plasmoids e dálle pulo ao teu entorno de traballo!
Comment[ko]=작업 공간을 유용하게 하는 Plasmoid를 설치하십시오!
Comment[nb]=Installer plasmoider og øk kraften i din arbeidsflate!
Comment[nl]=Installeer plasmoids en verhoog de kracht van uw werkruimte!
Comment[nn]=Installer skjermeelement for ei meir funksjonell arbeidsflate!
Comment[pl]=Wgrywaj plazmoidy i zwiększ możliwości swojej przestrzeni roboczej!
Comment[pt]=Instale plasmóides e aumente as potencialidades da sua área de trabalho!
Comment[pt_BR]=Instale plasmoides e aumente o poder do seu espaço de trabalho!
Comment[sk]=Nainštalujte plazmoidy a zvýšte silu vašej pracovnej plochy!
Comment[sl]=Namestite plasmoide in povečajte moč vašega delovnega prostora!
Comment[sr]=Инсталирајте плазмоиде за обогаћивање радног простора
Comment[sr@ijekavian]=Инсталирајте плазмоиде за обогаћивање радног простора
Comment[sr@ijekavianlatin]=Instalirajte plazmoide za obogaćivanje radnog prostora
Comment[sr@latin]=Instalirajte plazmoide za obogaćivanje radnog prostora
Comment[sv]=Installera Plasmoider och öka arbetsytans möjligheter.
Comment[uk]=Встановіть плазмоїди і зробіть ваш робочий простір потужнішим!
Comment[x-test]=xxInstall plasmoids and raise the power of your workspace!xx

X-KDE-Library=kns-backend
X-KDE-PluginInfo-Name=knsplasmoids-backend
X-KDE-PluginInfo-License=GPL
X-Muon-Arguments=plasmoids.knsrc
