[Desktop Entry]
Name=Updates
Name[ca]=Actualitzacions
Name[en_GB]=Updates
Name[fi]=Päivitykset
Name[fr]=Mises à jour
Name[ko]=업데이트
Name[nb]=Oppdateringer
Name[nl]=Elementen voor bijwerken
Name[nn]=Oppdateringar
Name[pl]=Uaktualnienia
Name[pt]=Actualizações
Name[pt_BR]=Atualizações
Name[sk]=Aktualizácie
Name[sl]=Posodobitve
Name[sv]=Uppdateringar
Name[uk]=Оновлення
Name[x-test]=xxUpdatesxx
Comment=Helps you keep your system up to date
Comment[ca]=Us ajuda a mantenir el vostre sistema al dia
Comment[en_GB]=Helps you keep your system up to date
Comment[fi]=Auttaa pitämään järjestelmäsi ajan tasalla
Comment[fr]=Vous aide à maintenir le système à jour
Comment[ko]=시스템을 최신 상태로 유치합니다
Comment[nb]=Hjelper til å holde systemet oppdatert
Comment[nl]=Helpt u om uw system bijgewerkt te houden
Comment[nn]=Hjelper til å halda systemet oppdatert
Comment[pl]=Pomaga utrzymać twój system aktualnym
Comment[pt]=Ajuda-o a manter o seu sistema actualizado
Comment[pt_BR]=Ajuda-o a manter seu sistema atualizado
Comment[sk]=Pomôže vám udržiavať váš systém aktuálny
Comment[sl]=Pomaga vam ohraniti posodobljen sistem
Comment[sv]=Hjälper dig hålla systemet uppdaterat
Comment[uk]=Допомагає підтримувати актуальний стан вашої системи
Comment[x-test]=xxHelps you keep your system up to datexx
Encoding=UTF-8

Icon=org.kde.muonnotifier
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.muonnotifier
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
