[Desktop Entry]
Name=Updates
Name[ar]=التّحديثات
Name[ast]=Anovamientos
Name[ca]=Actualitzacions
Name[ca@valencia]=Actualitzacions
Name[cs]=Aktualizace
Name[da]=Opdateringer
Name[de]=Aktualisierungen
Name[el]=Ενημερώσεις
Name[en_GB]=Updates
Name[es]=Actualizaciones
Name[et]=Uuendused
Name[fi]=Päivitykset
Name[fr]=Mises à jour
Name[gl]=Actualizacións
Name[it]=Aggiornamenti
Name[ko]=업데이트
Name[nb]=Oppdateringer
Name[nl]=Elementen voor bijwerken
Name[nn]=Oppdateringar
Name[pl]=Uaktualnienia
Name[pt]=Actualizações
Name[pt_BR]=Atualizações
Name[sk]=Aktualizácie
Name[sl]=Posodobitve
Name[sr]=Допуне
Name[sr@ijekavian]=Допуне
Name[sr@ijekavianlatin]=Dopune
Name[sr@latin]=Dopune
Name[sv]=Uppdateringar
Name[uk]=Оновлення
Name[x-test]=xxUpdatesxx
Name[zh_CN]=更新
Comment=Helps you keep your system up to date
Comment[ar]=يساعدك في إبقاء نظامك محدّثًا
Comment[ast]=Ayúdate a caltener el to sistema anováu
Comment[ca]=Us ajuda a mantenir el vostre sistema al dia
Comment[ca@valencia]=Vos ajuda a mantindre el vostre sistema al dia
Comment[cs]=Umožňuje vám zachovat systém aktuální
Comment[da]=Hjælper dig med at holde dit system opdateret
Comment[de]=Hilft Ihnen, Ihr System auf dem neusten Stand zu halten
Comment[el]=Βοηθά να διατηρήσετε το σύστημά σας ενημερωμένο
Comment[en_GB]=Helps you keep your system up to date
Comment[es]=Le ayuda a mantener su sistema al día
Comment[et]=Aitab hoida süsteemi värske
Comment[fi]=Auttaa pitämään järjestelmäsi ajan tasalla
Comment[fr]=Vous aide à maintenir le système à jour
Comment[gl]=Axúdao a manter o seu sistema actualizado.
Comment[it]=Ti aiuta a mantenere il sistema aggiornato
Comment[ko]=시스템을 최신 상태로 유지합니다
Comment[nb]=Hjelper til å holde systemet oppdatert
Comment[nl]=Helpt u om uw system bijgewerkt te houden
Comment[nn]=Hjelper til å halda systemet oppdatert
Comment[pl]=Pomaga utrzymać twój system aktualnym
Comment[pt]=Ajuda-o a manter o seu sistema actualizado
Comment[pt_BR]=Ajuda-o a manter seu sistema atualizado
Comment[sk]=Pomôže vám udržiavať váš systém aktuálny
Comment[sl]=Pomaga vam ohraniti posodobljen sistem
Comment[sr]=Помаже вам да одржавате систем ажурним
Comment[sr@ijekavian]=Помаже вам да одржавате систем ажурним
Comment[sr@ijekavianlatin]=Pomaže vam da održavate sistem ažurnim
Comment[sr@latin]=Pomaže vam da održavate sistem ažurnim
Comment[sv]=Hjälper dig hålla systemet uppdaterat
Comment[uk]=Допомагає підтримувати актуальний стан вашої системи
Comment[x-test]=xxHelps you keep your system up to datexx
Comment[zh_CN]=帮助您保持系统更新
Encoding=UTF-8

Icon=update-none
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.discovernotifier
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
