[Desktop Entry]
Name=Updates
Name[ca]=Actualitzacions
Name[de]=Aktualisierungen
Name[el]=Ενημερώσεις
Name[en_GB]=Updates
Name[es]=Actualizaciones
Name[fi]=Päivitykset
Name[hu]=Frissítések
Name[id]=Pembaruan
Name[it]=Aggiornamenti
Name[ko]=업데이트
Name[lt]=Atnaujinimai
Name[nl]=Elementen voor bijwerken
Name[pl]=Uaktualnienia
Name[pt]=Actualizações
Name[pt_BR]=Atualizações
Name[sk]=Aktualizácie
Name[sl]=Posodobitve
Name[sr]=Допуне
Name[sr@ijekavian]=Допуне
Name[sr@ijekavianlatin]=Dopune
Name[sr@latin]=Dopune
Name[sv]=Uppdateringar
Name[tr]=Güncellemeler
Name[uk]=Оновлення
Name[x-test]=xxUpdatesxx
Name[zh_CN]=更新
Name[zh_TW]=更新
Comment=Helps you keep your system up to date
Comment[ca]=Us ajuda a mantenir el vostre sistema al dia 
Comment[de]=Hilft Ihnen, Ihr System auf dem neusten Stand zu halten
Comment[el]=Βοηθά να διατηρήσετε το σύστημά σας ενημερωμένο
Comment[en_GB]=Helps you keep your system up to date
Comment[es]=Le ayuda a mantener su sistema actualizado
Comment[fi]=Auttaa pitämään järjestelmäsi ajan tasalla
Comment[hu]=Segít rendszere napra készen tartásában
Comment[id]=Membantu sistem anda tetap mutakhir
Comment[it]=Ti aiuta a mantenere il sistema aggiornato
Comment[ko]=시스템을 최신 상태로 유치합니다
Comment[lt]=Leidžia Jūsų sistemą palaikyti atnaujinta
Comment[nl]=Helpt u om uw system bij de tijd te houden
Comment[pl]=Pomaga utrzymać twój system aktualnym
Comment[pt]=Ajuda-o a manter o seu sistema actualizado
Comment[pt_BR]=Ajuda-o a manter seu sistema atualizado
Comment[sk]=Pomôže vám udržiavať váš systém aktuálny
Comment[sl]=Pomaga vam ohraniti posodobljen sistem
Comment[sr]=Помаже вам да одржавате систем ажурним
Comment[sr@ijekavian]=Помаже вам да одржавате систем ажурним
Comment[sr@ijekavianlatin]=Pomaže vam da održavate sistem ažurnim
Comment[sr@latin]=Pomaže vam da održavate sistem ažurnim
Comment[sv]=Hjälper dig hålla systemet uppdaterat
Comment[tr]=Sisteminizi güncel tutmanıza yardım eder
Comment[uk]=Допомагає підтримувати актуальний стан вашої системи
Comment[x-test]=xxHelps you keep your system up to datexx
Comment[zh_CN]=帮助您保持更新
Comment[zh_TW]=協助您的系統更新到最新狀態
Encoding=UTF-8

Icon=muon-discover
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.muonnotifier
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
