[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=preferences-desktop-wallpaper
Name=Bodega Wallpapers
Name[ca]=Fons d'escriptori del Bodega
Name[en_GB]=Bodega Wallpapers
Name[nl]=Bodega-bureaubladachtergronden
Name[pt_BR]=Papéis de parede do Bodega
Name[sv]=Bodega skrivbordsunderlägg
Name[x-test]=xxBodega Wallpapersxx
GenericName=Wallpapers
GenericName[ca]=Fons d'escriptori
GenericName[en_GB]=Wallpapers
GenericName[nl]=Bureaubladachtergronden
GenericName[pt_BR]=Papéis de parede
GenericName[sv]=Skrivbordsunderlägg
GenericName[x-test]=xxWallpapersxx
Comment=Install new, awesome wallpapers for your KDE!
Comment[ca]=Instal·leu fons d'escriptori nous i fantàstics pel vostre KDE!
Comment[en_GB]=Install new, awesome wallpapers for your KDE!
Comment[nl]=Installeer nieuwe, geweldige bureaubladachtergronden voor uw KDE!
Comment[pt_BR]=Instalar papéis de parede novos e incríveis para o seu KDE!
Comment[sv]=Installera nya fantastiska skrivbordsunderlägg för KDE.
Comment[x-test]=xxInstall new, awesome wallpapers for your KDE!xx
X-KDE-Library=muon-bodegabackend
X-KDE-PluginInfo-Name=muon-bodegawallpapers-backend
X-KDE-PluginInfo-License=GPL

#channel name
X-Muon-Arguments=http://addons.makeplaylive.com:3000/?channel=Wallpapers&credentials=MakePlayLive&storeId=VIVALDI-1
