[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=preferences-desktop-wallpaper
Name=Bodega Wallpapers
Name[ca]=Fons d'escriptori del Bodega
Name[cs]=Tapety Bodega
Name[es]=Fondos de escritorio de Bodega
Name[nl]=Bodega-bureaubladachtergronden
Name[pt]=Papéis de Parede do Bodega
Name[pt_BR]=Papéis de parede do Bodega
Name[sl]=Slike ozadja Bodega
Name[sv]=Bodega skrivbordsunderlägg
Name[uk]=Шпалери Bodega
Name[x-test]=xxBodega Wallpapersxx
GenericName=Wallpapers
GenericName[ca]=Fons d'escriptori
GenericName[cs]=Tapety
GenericName[es]=Fondos de escritorio
GenericName[nl]=Bureaubladachtergronden
GenericName[pt]=Papéis de Parede
GenericName[pt_BR]=Papéis de parede
GenericName[sl]=Slike ozadja
GenericName[sv]=Skrivbordsunderlägg
GenericName[uk]=Шпалери
GenericName[x-test]=xxWallpapersxx
Comment=Install new, awesome wallpapers for your KDE!
Comment[ca]=Instal·leu fons d'escriptori nous i fantàstics pel vostre KDE!
Comment[cs]=Nainstalovat nové skvělé tapety pro vaše KDE.
Comment[es]=¡Instale nuevos y geniales fondos de escritorio en su KDE!
Comment[nl]=Installeer nieuwe, geweldige bureaubladachtergronden voor uw KDE!
Comment[pt]=Instalar papéis de parede novos e espectaculares para o seu KDE!
Comment[pt_BR]=Instalar papéis de parede novos e incríveis para o seu KDE!
Comment[sl]=Namestite nova, čudovita ozadja namizja za vaš KDE!
Comment[sv]=Installera nya fantastiska skrivbordsunderlägg för KDE.
Comment[uk]=Встановіть нові чудові шпалери для вашого KDE!
Comment[x-test]=xxInstall new, awesome wallpapers for your KDE!xx
X-KDE-Library=muon-bodegabackend
X-KDE-PluginInfo-Name=muon-bodegawallpapers-backend
X-KDE-PluginInfo-License=GPL

#channel name
X-Muon-Arguments=http://addons.makeplaylive.com:3000/?channel=Wallpapers&credentials=MakePlayLive&storeId=VIVALDI-1
