[Desktop Entry]
Type=Service
ServiceTypes=Muon/Backend
Exec=blubb
Icon=preferences-desktop-wallpaper
Name=Bodega Wallpapers
Name[bs]=Bodega pozadinske slike
Name[ca]=Fons d'escriptori del Bodega
Name[cs]=Tapety Bodega
Name[da]=Bodega-baggrundsbilleder
Name[de]=Bodega-Hintergrundbilder
Name[es]=Fondos de escritorio de Bodega
Name[fi]=Bodega-taustakuvat
Name[fr]=Papiers peints de Bodega
Name[it]=Sfondi Bodega
Name[kk]=Bodega тұсқағаздары
Name[mr]=बोडेगा वॉलपेपर्स
Name[nb]=Bodega tapeter
Name[nl]=Bodega achtergrondafbeeldingen
Name[pl]=Tapety Bodega
Name[pt]=Papéis de Parede do Bodega
Name[pt_BR]=Papéis de parede do Bodega
Name[ru]=Обои Bodega
Name[sk]=Tapety Bodega
Name[sl]=Ozadja Bodega
Name[sr]=Бодегини тапети
Name[sr@ijekavian]=Бодегини тапети
Name[sr@ijekavianlatin]=Bodegini tapeti
Name[sr@latin]=Bodegini tapeti
Name[sv]=Bodega skrivbordsunderlägg
Name[tr]=Bodega Duvar Kağıtları
Name[uk]=Шпалери Bodega
Name[x-test]=xxBodega Wallpapersxx
Name[zh_TW]=Bodega 桌布
GenericName=Wallpapers
GenericName[bs]=Pozadinske slike
GenericName[ca]=Fons d'escriptori
GenericName[cs]=Tapety
GenericName[da]=Baggrundsbilleder
GenericName[de]=Hintergrundbilder
GenericName[es]=Fondos de escritorio
GenericName[fi]=Taustakuvat
GenericName[fr]=Papiers peints
GenericName[it]=Sfondi
GenericName[kk]=Тұсқағаздар
GenericName[mr]=वॉलपेपर्स
GenericName[nb]=Tapeter
GenericName[nl]=Achtergrondafbeeldingen
GenericName[pl]=Tapety
GenericName[pt]=Papéis de Parede
GenericName[pt_BR]=Papéis de parede
GenericName[ru]=Обои
GenericName[sk]=Tapety
GenericName[sl]=Ozadja namizja
GenericName[sr]=Тапети
GenericName[sr@ijekavian]=Тапети
GenericName[sr@ijekavianlatin]=Tapeti
GenericName[sr@latin]=Tapeti
GenericName[sv]=Skrivbordsunderlägg
GenericName[tr]=Duvar Kağıtları
GenericName[uk]=Шпалери
GenericName[x-test]=xxWallpapersxx
GenericName[zh_TW]=桌布
Comment=Install new, awesome wallpapers for your KDE!
Comment[bs]=Instalirajte nove, lijepe pozadinske slike za vaš KDE
Comment[ca]=Instal·leu fons d'escriptori nous i fantàstics pel vostre KDE!
Comment[cs]=Nainstalovat nové skvělé tapety pro vaše KDE!
Comment[da]=Installér nye lækre baggrundsbilleder til din KDE!
Comment[de]=Installiert neue fantastische Hintergrundbilder für Ihr KDE-System.
Comment[es]=¡Instale nuevos y geniales fondos de escritorio en su KDE!
Comment[fi]=Asenna uusia ja mahtavia taustakuvia KDE:hesi!
Comment[fr]=Installez de nouveaux et magnifiques papiers peints !
Comment[it]=Installa nuovi, strabilianti sfondi per il tuo KDE!
Comment[kk]=kDE-ге жаңа, ғажайып тұсқағаздарды орнатыңыз!
Comment[mr]=तुमच्या केडीई करिता नवीन वॉलपेपर्स प्रतिष्ठापीत करा!
Comment[nb]=Installer nye, praktfulle tapeter for din KDE!
Comment[nl]=Installeer nieuwe, geweldige achtergrondafbeeldingen voor uw KDE!
Comment[pl]=Zainstaluj nowe, wspaniałe tapety dla twojego KDE!
Comment[pt]=Instalar papéis de parede novos e espectaculares para o seu KDE!
Comment[pt_BR]=Instalar papéis de parede novos e incríveis para o seu KDE!
Comment[ru]=Новые замечательные обои для KDE!
Comment[sk]=Nainštalujte nové, úžasné tapety pre vaše KDE!
Comment[sl]=Namestite nova, čudovita ozadja namizja za vaš KDE!
Comment[sr]=Инсталирајте нове, фантастичне тапете
Comment[sr@ijekavian]=Инсталирајте нове, фантастичне тапете
Comment[sr@ijekavianlatin]=Instalirajte nove, fantastične tapete
Comment[sr@latin]=Instalirajte nove, fantastične tapete
Comment[sv]=Installera nya fantastiska skrivbordsunderlägg för KDE.
Comment[tr]=KDE'niz için yeni harika duvar kağıtları yükleyin!
Comment[uk]=Встановіть нові чудові шпалери для вашого KDE!
Comment[x-test]=xxInstall new, awesome wallpapers for your KDE!xx
Comment[zh_TW]=為您的 KDE 安裝新的，好看的桌布。
X-KDE-Library=muon-bodegabackend
X-KDE-PluginInfo-Name=muon-bodegabackend-wallpapers
X-KDE-PluginInfo-License=GPL

#channel name
X-Muon-Arguments=Wallpapers
