[Desktop Entry]
Name=Discover
Name[ar]=استكشف
Name[ast]=Discover
Name[ca]=Discover
Name[ca@valencia]=Discover
Name[da]=Discover
Name[de]=Discover
Name[el]=Discover
Name[en_GB]=Discover
Name[es]=Discover
Name[et]=Avastusretk
Name[eu]=Discover
Name[fi]=Discover
Name[fr]=Discover
Name[gl]=Descubrir
Name[he]=מרכז התוכנות Discover
Name[hu]=Discover
Name[ia]=Discoperi
Name[id]=Discover
Name[it]=Discover
Name[ko]=발견
Name[nl]=Ontdekken
Name[nn]=Discover
Name[pa]=ਖੋਜ
Name[pl]=Odkrywca
Name[pt]=Discover
Name[pt_BR]=Discover
Name[ru]=Discover
Name[sk]=Objaviť
Name[sl]=Discover
Name[sr]=Oткривач
Name[sr@ijekavian]=Oткривач
Name[sr@ijekavianlatin]=Otkrivač
Name[sr@latin]=Otkrivač
Name[sv]=Upptäck
Name[tr]=Keşfet
Name[uk]=Discover
Name[x-test]=xxDiscoverxx
Name[zh_CN]=发现者
Name[zh_TW]=Discover
Exec=plasma-discover %U
Icon=plasmadiscover
Type=Application
X-DocPath=plasma-discover/index.html
Categories=Qt;KDE;System;
NoDisplay=true

MimeType=application/vnd.flatpak.ref;application/vnd.flatpak;application/vnd.flatpak.repo
