[Desktop Entry]
Name=Discover
Exec=plasma-discover %U
Icon=plasmadiscover
Type=Application
X-DocPath=plasma-discover/index.html
Categories=Qt;KDE;System;

MimeType=application/vnd.flatpak.ref
