# SPDX-FileCopyrightText: (C) 2020 Aleix Pol Gonzalzez <aleixpol@kde.org>
#
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

[Desktop Entry]
Name=Software Updates
Name[ca]=Actualitzacions de programari
Name[es]=Actualizaciones de software
Name[eu]=Software eguneratzeak
Name[nl]=Elementen voor software bijwerken
Name[pt]=Actualizações de Aplicações
Name[sv]=Uppdateringar av programvara
Name[uk]=Оновлення програм
Name[x-test]=xxSoftware Updatesxx

Icon=system-software-update
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_updates
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
