[Desktop Entry]
Name=Muon
Name[pt]=Muon
Name[pt_BR]=Muon
Name[uk]=Muon
Name[x-test]=xxMuonxx
Exec=muon %i -caption "%c"
Icon=muon
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
GenericName[bg]=Управление на пакети
GenericName[ca]=Gestor de paquets
GenericName[ca@valencia]=Gestor de paquets
GenericName[en_GB]=Package Manager
GenericName[eo]=Administrilo por programpakaĵoj
GenericName[es]=Gestor de paquetes
GenericName[fi]=Paketinhallinta
GenericName[ja]=パッケージマネージャ
GenericName[nb]=Pakkebehandler
GenericName[nn]=Pakkehandsamar
GenericName[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[sv]=Pakethanterare
GenericName[uk]=Керування пакунками
GenericName[x-test]=xxPackage Managerxx
Terminal=false
