[Desktop Entry]
Name=Muon
Name[uk]=Muon
Name[x-test]=xxMuonxx
Exec=muon %i -caption "%c"
Icon=application-x-deb
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
GenericName[uk]=Керування пакунками
GenericName[x-test]=xxPackage Managerxx
Categories=Qt;KDE;System;
