<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!--
  SPDX-License-Identifier: CC0-1.0
  SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>
-->
<policyconfig>
   <action id="org.kde.discover.kde.linux.update">
      <message>Update System</message>
      <description>Update system using systemd-sysupdate</description>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
   <action id="org.kde.discover.kde.linux.check_new">
      <message>Check for System Updates</message>
      <description>Check for system updates using systemd-sysupdate</description>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>yes</allow_active>
      </defaults>
   </action>
</policyconfig>
