[Desktop Entry]
Type=Service
Exec=blubb
Icon=applications-other
Comment=Install and browse applications in Chakra
Comment[ca]=Instal·la i mostra aplicacions a Chakra
Comment[ca@valencia]=Instal·la i mostra aplicacions a Chakra
Comment[cs]=Instalujte a prohlížejte aplikace v Chakra
Comment[de]=Anwendungen in Chakra Installieren und durchsuchen
Comment[el]=Εγκαταστήστε και περιηγηθείτε σε εφαρμογές στο Chakra
Comment[en_GB]=Install and browse applications in Chakra
Comment[es]=Instalar y explorar aplicaciones en Chakra
Comment[fi]=Asenna ja selaa Chakran välityksellä tarjolla olevia sovelluksia
Comment[fr]=Installer et parcourir des applications dans Chakra
Comment[gl]=Instalar e buscar aplicacións en Chakra
Comment[it]=Installa e sfoglia le applicazioni in Chakra
Comment[ko]=Chakra에서 프로그램을 찾고 설치하기
Comment[nb]=Installer og bla i programmer i Chakra
Comment[nl]=Installeer en blader door toepassingen in Chakra
Comment[nn]=Installer og bla gjennom program i Chakra
Comment[pl]=Wgrywaj i przeglądaj programy w Chakra
Comment[pt]=Instalar e navegar nas aplicações do Chakra
Comment[pt_BR]=Instala e navega pelos aplicativos no Chakra
Comment[sk]=Inštalácia a prehliadanie aplikácií v Chakra
Comment[sl]=Namestite in brskajte po programih v Chakri
Comment[sr]=Инсталирајте и прегледајте програме из Чакре
Comment[sr@ijekavian]=Инсталирајте и прегледајте програме из Чакре
Comment[sr@ijekavianlatin]=Instalirajte i pregledajte programe iz Chakre
Comment[sr@latin]=Instalirajte i pregledajte programe iz Chakre
Comment[sv]=Installera och bläddra bland program med Chakra
Comment[uk]=Встановіть і перегляньте встановлені програми у Chakra
Comment[x-test]=xxInstall and browse applications in Chakraxx
Comment[zh_CN]=安装浏览 Chakra 中的程序
Name=Akabei Backend
Name[ca]=Dorsal Akabei
Name[ca@valencia]=Dorsal Akabei
Name[cs]=Podpůrná vrstva Akabei
Name[de]=Akabei-Backend
Name[el]=Σύστημα υποστήριξης Akabei
Name[en_GB]=Akabei Backend
Name[es]=Motor de Akabei
Name[fi]=Akabei-taustajärjestelmä
Name[fr]=Moteur de Akabei
Name[gl]=Infraestrutura de Akabei
Name[it]=Motore Akabei
Name[ko]=Akabei 백엔드
Name[nb]=Akabei bakgrunnsmotor
Name[nl]=Backend van Akabei
Name[nn]=Akabei bakgrunnsmotor
Name[pl]=Silnik Akabei
Name[pt]=Infra-Estrutura do Akabei
Name[pt_BR]=Infraestrutura Akabei
Name[sk]=Backend Akabei
Name[sl]=Zaledje Akabei
Name[sr]=Позадина за Акабеј
Name[sr@ijekavian]=Позадина за Акабеј
Name[sr@ijekavianlatin]=Pozadina za Akabei
Name[sr@latin]=Pozadina za Akabei
Name[sv]=Akabei-gränssnitt
Name[uk]=Модуль Akabei
Name[x-test]=xxAkabei Backendxx
Name[zh_CN]=Akabei 后端
GenericName=Chakra Support
GenericName[ca]=Implementació a Chakra
GenericName[ca@valencia]=Implementació a Chakra
GenericName[cs]=Podpora Chakra
GenericName[de]=Unterstützung für Chakra
GenericName[el]=Υποστήριξη Chakra
GenericName[en_GB]=Chakra Support
GenericName[es]=Uso de Chakra
GenericName[fi]=Chakra-tuki
GenericName[fr]=Prise en charge de Chakra
GenericName[gl]=Compatibilidade con Chakra
GenericName[it]=Supporto Chakra
GenericName[ko]=Chakra 지원
GenericName[nb]=Chakra-støtte
GenericName[nl]=Ondersteuning van Chakra
GenericName[nn]=Chakra-støtte
GenericName[pl]=Obsługa Chakra
GenericName[pt]=Suporte para o Chakra
GenericName[pt_BR]=Suporte para o Chakra
GenericName[sk]=Podpora Chakra
GenericName[sl]=Podpora Chakri
GenericName[sr]=Подршка за Чакру
GenericName[sr@ijekavian]=Подршка за Чакру
GenericName[sr@ijekavianlatin]=Podrška za Chakru
GenericName[sr@latin]=Podrška za Chakru
GenericName[sv]=Stöd för Chakra
GenericName[uk]=Підтримка Chakra
GenericName[x-test]=xxChakra Supportxx
GenericName[zh_CN]=Chakra 支持
X-KDE-Library=akabei-backend
X-KDE-PluginInfo-Name=akabei-backend
X-KDE-PluginInfo-License=GPL
