[Desktop Entry]
Name=Muon Akabei Notifier
Name[ca]=Notificador Akabei del Muon
Name[ca@valencia]=Notificador Akabei del Muon
Name[cs]=Oznamování Akabei pro Muon
Name[da]=Muon Akabei-bekendtgørelser
Name[de]=Muon-Akabei-Benachrichtigung
Name[el]=Πρόγραμμα ειδοποιήσεων Muon Akabei
Name[en_GB]=Muon Akabei Notifier
Name[es]=Notificador Akabei de Muon
Name[et]=Muoni Akabei märguanded
Name[fi]=Muonin Akabei-ilmoitukset
Name[fr]=Notifieur Akabei de Muon
Name[gl]=Notificador de Akabei para Muon
Name[it]=Notifiche Akabei di Muon
Name[ko]=Muon Akabei 알림이
Name[nb]=Muon Akabei-varsler
Name[nl]=Muon-melder van Akabei
Name[nn]=Muon Akabei-varslar
Name[pl]=Powiadamianie Akabei dla Muon
Name[pt]=Notificação do Akabei - Muon
Name[pt_BR]=Notificador do Akabei para o Muon
Name[sk]=Muon Akabei oznamovač
Name[sl]=Obvestilnik Akabei za Muon
Name[sr]=Муонов извештавач за Акабеј
Name[sr@ijekavian]=Муонов извјештавач за Акабеј
Name[sr@ijekavianlatin]=Muonov izvještavač za Akabei
Name[sr@latin]=Muonov izveštavač za Akabei
Name[sv]=Muon Akabei underrättelse
Name[uk]=Сповіщувач Muon для Akabei
Name[x-test]=xxMuon Akabei Notifierxx
Name[zh_CN]=Muon Akabei 提示器
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=muonakabeinotifier
X-KDE-FactoryName=muonakabeinotifier
X-KDE-DBus-ModuleName=muonakabeinotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
