[Desktop Entry]
Name=Muon Software Center
Name[bs]=Muon softverski centar
Name[ca]=Centre de programari Muon
Name[ca@valencia]=Centre de programari Muon
Name[cs]=Centrum softwaru Muon
Name[da]=Muon softwarecenter
Name[de]=Muon-Programmverwaltung
Name[en_GB]=Muon Software Centre
Name[es]=Centro de software de Muon
Name[et]=Muoni tarkvarakeskus
Name[fi]=Muon-sovellustenhallinta
Name[fr]=Logithèque Muon
Name[hu]=Muon szoftverközpont
Name[nb]=Muon programvaresenter
Name[nds]=Muon-Programmzentrum
Name[nl]=Muon softwarecentrum
Name[pt]=Centro de Aplicações Muon
Name[pt_BR]=Central de aplicativos do Muon
Name[ro]=Centrul de Aplicații Muon
Name[ru]=Центр программ Muon
Name[sr]=Муон
Name[sr@ijekavian]=Муон
Name[sr@ijekavianlatin]=Muon
Name[sr@latin]=Muon
Name[sv]=Muon programvarucentral
Name[uk]=Центр програм Muon
Name[x-test]=xxMuon Software Centerxx
Name[zh_TW]=Muon 軟體中心
Exec=muon-installer %i -caption "%c"
Icon=applications-other
Type=Application
X-DocPath=muon/index.html
GenericName=Software Center
GenericName[bs]=Softverski centar
GenericName[ca]=Centre de programari
GenericName[ca@valencia]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[da]=Softwarecenter
GenericName[de]=Programmverwaltung
GenericName[en_GB]=Software Centre
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[fi]=Sovellustenhallinta
GenericName[fr]=Logithèque
GenericName[hu]=Szoftverközpont
GenericName[nb]=Programvaresenter
GenericName[nds]=Programmzentrum
GenericName[nl]=Softwarecentrum
GenericName[pt]=Centro de Aplicações
GenericName[pt_BR]=Central de aplicativos
GenericName[ro]=Centrul de Aplicații
GenericName[ru]=Центр программ
GenericName[sr]=Софтверски центар
GenericName[sr@ijekavian]=Софтверски центар
GenericName[sr@ijekavianlatin]=Softverski centar
GenericName[sr@latin]=Softverski centar
GenericName[sv]=Programvarucentral
GenericName[ug]=يۇمشاق دېتال مەركىزى
GenericName[uk]=Центр програм
GenericName[x-test]=xxSoftware Centerxx
GenericName[zh_TW]=軟體中心
Categories=Qt;KDE;System;
