[Desktop Entry]
Name=Muon Software Center
Name[bs]=Muon softverski centar
Name[ca]=Centre de programari Muon
Name[ca@valencia]=Centre de programari Muon
Name[cs]=Centrum softwaru Muon
Name[da]=Muon softwarecenter
Name[de]=Muon-Programmverwaltung
Name[el]=Muon Software Center
Name[en_GB]=Muon Software Centre
Name[es]=Centro de software de Muon
Name[et]=Muoni tarkvarakeskus
Name[fi]=Muon-sovellusvalikoima
Name[fr]=Logithèque de Muon
Name[ga]=Lárionad Bogearraí Muon
Name[gl]=Centro de software Muon
Name[hu]=Muon szoftverközpont
Name[it]=Muon Software Center
Name[kk]=Muon бағдарлама орталығы
Name[ko]=Muon 소프트웨어 센터
Name[lt]=Muon programų centras
Name[mr]=म्युओन सॉफ़्टवेअर केंद्र
Name[nb]=Muon programvaresenter
Name[nds]=Muon-Programmzentrum
Name[nl]=Muon softwarecentrum
Name[pa]=ਮੂਓਨ ਸਾਫਟਵੇਅਰ ਸੈਂਟਰ
Name[pl]=Centrum oprogramowania Muon
Name[pt]=Centro de Aplicações Muon
Name[pt_BR]=Central de aplicativos do Muon
Name[ro]=Centrul de Aplicații Muon
Name[ru]=Центр программ Muon
Name[sk]=Muon softwareové centum
Name[sl]=Programsko središče Muon
Name[sr]=Муонов софтверски центар
Name[sr@ijekavian]=Муонов софтверски центар
Name[sr@ijekavianlatin]=Muonov softverski centar
Name[sr@latin]=Muonov softverski centar
Name[sv]=Muon programvarucentral
Name[tr]=Muon Yazılım Merkezi
Name[ug]=Muon يۇمشاق دېتال مەركىزى
Name[uk]=Центр програм Muon
Name[x-test]=xxMuon Software Centerxx
Name[zh_CN]=Muon 软件中心
Name[zh_TW]=Muon 軟體中心
Exec=muon-installer %i -caption %c
Icon=applications-other
Type=Application
X-DocPath=muon/index.html
GenericName=Software Center
GenericName[bs]=Softverski centar
GenericName[ca]=Centre de programari
GenericName[ca@valencia]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[da]=Softwarecenter
GenericName[de]=Programmverwaltung
GenericName[el]=Κέντρο λογισμικού
GenericName[en_GB]=Software Centre
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logithèque
GenericName[ga]=Lárionad Bogearraí
GenericName[gl]=Centro de Software
GenericName[hu]=Szoftverközpont
GenericName[it]=Software Center
GenericName[kk]=Бағдарлама орталығы
GenericName[ko]=소프트웨어 센터
GenericName[lt]=Programų centras
GenericName[mr]=सॉफ़्टवेअर केंद्र
GenericName[nb]=Programvaresenter
GenericName[nds]=Programmzentrum
GenericName[nl]=Softwarecentrum
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਸੈਂਟਰ
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Aplicações
GenericName[pt_BR]=Central de aplicativos
GenericName[ro]=Centrul de Aplicații
GenericName[ru]=Центр программ
GenericName[sk]=Softwareové centum
GenericName[sl]=Programsko središče
GenericName[sr]=Софтверски центар
GenericName[sr@ijekavian]=Софтверски центар
GenericName[sr@ijekavianlatin]=Softverski centar
GenericName[sr@latin]=Softverski centar
GenericName[sv]=Programvarucentral
GenericName[tr]=Yazılım Merkezi
GenericName[ug]=يۇمشاق دېتال مەركىزى
GenericName[uk]=Центр програм
GenericName[x-test]=xxSoftware Centerxx
GenericName[zh_CN]=软件中心
GenericName[zh_TW]=軟體中心
Categories=Qt;KDE;System;
Keywords=program;software;repository;package;install;remove;update;apps;applications;
Keywords[cs]=program;software;repozitář;balíček;instalovat;odstranit;aktualizovat;programy;aplikace;
Keywords[de]=Programm,Software,Archiv,Repository,Paket,Installieren,Entfernen,Aktualisieren,deb,Programme,Anwendungen
Keywords[es]=programa;software;repositorio;paquete;instalar;eliminar;actualizar;apps;aplicaciones;
Keywords[hu]=program;szoftver;tároló;csomag;telepítés;eltávolítás;frissítés;appok;alkalmazások;
Keywords[nl]=programma;software;opslagruimte;pakket;installeren;verwijderen;bijwerken;apps;toepassingen;applicaties;
Keywords[pt]=programa;software;repositório;arquivo;pacote;instalar;remover;actualizar;deb;aplicações;
Keywords[pt_BR]=programa;software;repositório;pacote;instalar;instalação;remover;atualizar;aplicativos,apps,aplicações;
Keywords[sk]=program;softvér;repozitár;archív;balík;inštalácia;odstránenie;appky;aplikácie;aktualizácia;
Keywords[sr]=program;software;repository;package;install;remove;update;apps;applications;програм;софтвер;ризница;пакет;инсталирати;уклонити;ажурирати;
Keywords[sr@ijekavian]=program;software;repository;package;install;remove;update;apps;applications;програм;софтвер;ризница;пакет;инсталирати;уклонити;ажурирати;
Keywords[sr@ijekavianlatin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;ažurirati;
Keywords[sr@latin]=program;software;repository;package;install;remove;update;apps;applications;program;softver;riznica;paket;instalirati;ukloniti;ažurirati;
Keywords[sv]=program;programvara;arkiv;paket;installera;ta bort;uppdatera;appar;program;
Keywords[tr]=uygulama;yazılım;depo;paket;kur;kaldır;güncelle;uygulamalar;yüklemeler;
Keywords[uk]=program;software;repository;package;install;remove;update;app;apps;applications;програма;програмне забезпечення;сховище;архів;пакунок;встановити;встановлення;вилучити;вилучення;оновлення;оновити;
Keywords[x-test]=xxprogram;software;repository;package;install;remove;update;apps;applications;xx
